body {
  @include font-smoothing(true);
}

.store-navbar {

  position: relative;
  padding: 30px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  z-index: 1999;

  .section-top {
    padding-bottom: 25px;
    border-bottom: 1px solid #{theme-color-level('light', -9)};

    @media(max-width: 991px) {
      padding-bottom: 15px;
      border-bottom: 0;
      text-align: center;
    }

    .logo {
      position: relative;
      top: -2px;
      color: #{theme-color-level('dark', -2)};
      font-size: 26px;
      font-weight: normal;
      letter-spacing: 2px;
      text-decoration: none;

      @media(max-width: 991px) {
        display: block;
        font-size: 22px;
        float: none !important;
      }
    }

    .menu-right {
      position: relative;
      top: 5px;
      font-size: 14px;

      @media(max-width: 991px) {
        margin-top: 15px;
        padding: 0;
        float: none !important;
      }

      li {
        display: inline-block;
        position: relative;
        margin-left: 35px;

        @media(max-width: 991px) {
          margin: 0 15px;
        }

        @media(max-width: 767px) {
          margin: 0 6px;
        }
      }
    }

    .cart {
      color: #{theme-color('light')};
      transition: all .35s;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: #{theme-color('dark')};
      }

      i {
        position: relative;
        top: 2px;
        margin-right: 3px;
        font-size: 20px;
      }

      span {
        position: relative;
        margin-left: 3px;
        font-weight: 500;
      }
    }

    .cart-modal {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 40px;
      right: -65px;
      width: 480px;
      border-radius: 5px;
      background: #{color('white')};
      font-family: $lato;
      transition: all .2s;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.39);
      z-index: 999;

      @media(max-width: 991px) {
        display: none;
      }

      &.visible {
        visibility: visible;
        opacity: 1;
      }

      .pointer {
        position: absolute;
        top: -22px;
        right: 80px;

        .arrow {
          position: absolute;
          top: 1px;
          border-width: 11px;
          border-color: transparent transparent #{color('white')} transparent;
          border-style: solid;
        }

        .arrow_border {
          border-width: 11px;
          border-color: transparent transparent rgba(0, 0, 0, 0.12);
          border-style: solid;
        }
      }

      .products {
        text-align: left;

        .product {
          display: table;
          width: 100%;
          padding: 17px 20px;
          border-bottom: 1px solid #{theme-color-level('light', -9)};

          .pic {
            display: table-cell;
            width: 90px;
            vertical-align: middle;

            img {
              max-width: 85px;
            }
          }

          .details {
            display: table-cell;
            width: 200px;
            padding: 0 18px;
            vertical-align: middle;

            .name {
              color: #{theme-color-level('dark', -2)};
              font-weight: 600;
              transition: all .2s;
              text-decoration: none;

              &:hover {
                color: #{theme-color('dark')};
              }
            }

            .vendor {
              display: block;
              color: #{theme-color-level('dark', -6)};
              font-family: $georgia;
              font-style: italic;
            }
          }

          .qty {
            display: table-cell;
            width: 60px;
            text-align: center;
            vertical-align: middle;

            a {
              display: block;
              color: #{theme-color-level('dark', -9)};
              transition: all .2s;

              &:hover {
                color: #{theme-color-level('dark', -2)};
              }
            }

            span {
              display: block;
              margin: 2px 0;
              font-size: 15px;
              font-weight: 600;
            }
          }

          .subtotal {
            display: table-cell;
            padding-right: 10px;
            text-align: right;
            vertical-align: middle;

            span {
              font-size: 15px;
              font-weight: 600;
            }
          }
        }
      }

      .total-price {
        padding: 20px 30px 0 20px;

        .note {
          margin-left: 10px;
          color: #{theme-color-level('light', 5)};
          font-family: $georgia;
          font-size: 13px;
          font-style: italic;
          float: left;
        }

        .total {
          position: relative;
          top: -4px;
          font-size: 20px;
          font-weight: 600;
          float: right;

          span {
            margin-right: 25px;
            font-size: 14px;
            font-weight: normal;
          }
        }
      }

      .cta {
        padding: 20px 25px 20px;
        text-align: right;

        .go-cart {
          display: inline-block;
          padding: 10px 22px;
          border: 1px solid #{theme-color-level('light', -7)};
          border-radius: 50px;
          color: #{theme-color-level('dark', -3)};
          font-family: $helvetica;
          font-size: 10px;
          font-weight: 600;
          transition: all .2s;
          float: left;
          letter-spacing: 1.3px;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            border-color: #{theme-color-level('light', -1)};
          }
        }

        .go-checkout {
          display: inline-block;
          padding: 10px 22px;
          border-radius: 50px;
          background: #{theme-color-level('primary', -5)};
          color: #{color('white')};
          font-family: $helvetica;
          font-size: 10px;
          font-weight: 600;
          transition: all .2s;
          float: right;
          letter-spacing: 1.3px;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            background: #{theme-color-level('primary', -4)};
          }
        }
      }
    }

    .search-field {
      position: relative;
      width: 140px;

      @media(max-width: 991px) {
        width: 120px;
        text-align: left;
      }

      &.focus {
        i {
          color: #{theme-color-level('dark', -1)};
        }
      }

      i {
        position: relative;
        top: 2px;
        left: 0;
        color: #{theme-color-level('dark', -8)};
        font-size: 20px;
        transition: all .2s;
        z-index: 1;
      }

      .input-search {
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 33px;
        padding: 0 0 0 25px;
        border: none;
        outline: none;
      }
    }

    .account {
      color: #{theme-color('light')};
      font-weight: 500;
      transition: all .35s;
      text-decoration: none;

      &:hover {
        color: #{theme-color('dark')};
      }

      i {
        position: relative;
        top: 1px;
        margin-right: 3px;
        font-size: 17px;
      }
    }
  }

  .section-menu {
    .navbar-toggler {
      position: absolute;
      top: -120px;
      right: 0;
    }

    .navbar {
      padding: 0;
    }

    .nav-item {
      @media(max-width: 991px) {
        &:last-child {
          .nav-link {
            padding-bottom: 20px;
          }
        }
      }

      &.show {
        @media(max-width: 991px) {
          .nav-link {
            color: #{theme-color('dark')};
          }
        }

        @media(min-width: 992px) {
          .nav-link {
            background: #{theme-color('dark')} !important;
            color: #{color('white')} !important;
          }
        }
      }

      .dropdown-extend-menu {
        padding: 35px 50px;
        background: #{theme-color('dark')};

        @media(max-width: 991px) {
          padding: 15px 30px;
          background: #{color('white')};
        }

        h3 {
          margin-bottom: 20px;
          padding-bottom: 15px;
          border-bottom: 1px solid #{theme-color-level('dark', -2)};
          color: #{color('white')};
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: uppercase;

          @media(max-width: 991px) {
            display: none;
          }
        }

        a {
          display: block;
          margin: 8px 0;
          color: #{theme-color-level('light', -9)};
          transition: all .1s linear;
          text-decoration: none;

          @media(max-width: 991px) {
            color: #{theme-color-level('dark', -2)};
          }

          @media(min-width: 992px) {
            &:hover {
              color: #{color('white')};
            }
          }
        }
      }
    }

    .nav-link {
      padding: 0.7rem 1rem;
      font-size: 13px;
      transition: all .15s;
      letter-spacing: 1px;
      text-transform: uppercase;

      @media(min-width: 992px) {
        padding: 25px 30px;
      }

      .ion-chevron-down {
        position: relative;
        top: -1px;
        margin-left: 5px;
        font-size: 10px;
      }
    }

    .dropdown-menu {
      margin-top: 0;
      transform: none;
      transition: all .15s;

      @media(min-width: 992px) {
        border-radius: 0 0 4px 4px;
        background: #{theme-color('dark')};
      }

      .dropdown-item {
        @media(min-width: 992px) {
          padding: 9px 60px 9px 30px;
          color: #{color('white')};
          transition: all .2s;

          &:hover,
          &:focus {
            background: #{theme-color-level('dark', -1)};
          }
        }
      }
    }

    .dropdown-submenu {
      .dropdown-toggle i {
        @media(min-width: 992px) {
          top: 13px;
        }
      }
    }
  }
}

.store-footer {
  margin-top: 100px;

  padding: 50px 0 40px;
  border-top: 1px solid #{theme-color-level('light', -8)};
  background: #{gray('100')};

  .col-md-4 {
    padding-left: 35px;

    @media(max-width: 767px) {
      margin-bottom: 30px;
      padding-left: 20px;
    }
  }

  .title {
    color: #{theme-color-level('dark', -1)};
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .menu {
    margin-top: 20px;
    padding: 0;
    list-style-type: none;

    a {
      display: inline-block;
      margin-bottom: 9px;
      color: #{theme-color-level('secondary', -1)};
      transition: all .2s linear;
      text-decoration: none;

      &:hover {
        color: #{theme-color-level('dark', -1)};
      }
    }

    i {
      position: relative;
      top: 3px;
      width: 21px;
      margin-right: 12px;
      margin-bottom: 5px;
      color: #{theme-color-level('secondary', -3)};
      font-size: 23px;
    }
  }

  .newsletter {
    p {
      margin-top: 15px;
      color: #{theme-color-level('dark', -5)};
      line-height: 20px;
    }

    form {
      position: relative;
      margin-top: 27px;

      input[type="email"] {
        height: 45px;
        padding-left: 17px;

        &::placeholder {
          color: #{theme-color-level('light', 1)};
        }

        &:focus {
          box-shadow: none;
        }
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        height: 45px;
        padding: 0 15px;
        border: 0;
        border-radius: 0 4px 4px 0;
        background: #{theme-color-level('primary', -4)};
        color: #{color('white')};
        font-size: 17px;
      }
    }
  }

  .bottom {
    margin-top: 40px;
    border-top: 1px solid #{gray('300')};

    span {
      display: inline-block;
      margin-top: 18px;
      color: #{theme-color-level('dark', -3)};
    }

    .payment-methods {
      position: relative;
      top: 17px;
      float: right;

      img {
        max-width: 40px;
        margin-left: 5px;
      }
    }
  }
}
