* text=auto
*.scss linguist-vendored
CHANGELOG.md export-ignore

# Ignore lock file diffs
composer.lock binary export-ignore
package-lock.json binary export-ignore

# Fixes for Windows being weird
# See https://stackoverflow.com/a/2361309
*.conf text eol=lf
*.css text eol=lf
*.env text eol=lf
*.git* text eol=lf
*.htaccess text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.md text eol=lf
*.php text eol=lf
*.sql text eol=lf
*.svg text eol=lf
*.txt text eol=lf
*.vue text eol=lf
*.yml text eol=lf

