/* Activity card */

.activity-card {
  @apply card p-4 shadow rounded overflow-hidden;
  @apply flex flex-row items-stretch;
}

.activity-card__image-container {
  @apply h-64 w-48;
}

.activity-card__image {
  @apply object-fill shadow;
  max-width: theme('spacing.64');
  max-height: theme('spacing.64');
}

.activity-card__image--empty {
  @apply h-64 w-48;
  @apply px-8;
  @apply bg-brand-600;
  @apply object-contain;

  box-sizing: border-box;
}

.activity-card__body {
  @apply flex-grow ml-4 p-4;
}

.activity-card__title {
  @apply text-2xl font-normal mb-4;
}

.activity-card__lead {
  @apply text-lg font-normal mb-4;
}

.activity-card__facts {
  @apply mb-6 flex flex-row flex-wrap;
}

.activity-card__fact {
  @apply flex flex-row items-center;
  @apply w-1/2 mb-2;
}

.activity-card__fact-icon {
  @apply h-4 w-6 mr-2;
}

.activity-card__fact-label {
  @apply leading-none font-normal;
}

.activity-card__read-more {
  @apply flex flex-row items-center justify-between p-4;
  @apply rounded border border-2 border-gray-100 no-underline;
}

.activity-card__read-more-icon {
  @apply h-4 ml-4 w-6;
}

.activity-card__read-more-label {
  @apply leading-none font-normal;
}
