/* Card */

.card {
  @apply shadow bg-light rounded relative;
}

.card--padded {
  @apply p-8 my-8;
}

.card--padded-lg {
  @apply p-16 my-16 shadow-lg;
}

.card__figure {
  @apply h-64 bg-gray-secondary-2 relative rounded-t overflow-hidden;
}

.card__figure--alleen-samen {
  background-color: #ffb604;
}

.card__figure-image {
  @apply w-full h-64 object-cover;
}

.card__figure-wrapper {
  @apply h-64 flex items-center;
}

.card__figure-badges {
  @apply flex justify-start flex-wrap;
  @apply absolute;
  right: theme('spacing.8');
  bottom: theme('spacing.8');
  left: theme('spacing.8');
}

.card__figure-badge {
  @apply px-4 py-2 rounded overflow-hidden;
  @apply bg-light shadow;
  @apply text-brand-primary-1 font-bold uppercase text-sm;
  @apply mr-2;
}

.card__figure-badge--danger, .card__figure-badge--warning {
  @apply border rounded-none;
}

.card__figure-badge--danger {
  @apply border-red-primary-1 text-red-primary-1;
}

.card__figure-badge--warning {
  @apply border-orange-primary-1 text-orange-primary-1;
}

.card__body {
  @apply p-8 w-full;
}

.card__body-label {
  @apply mb-0 uppercase font-bold text-sm text-gray-primary-2 leading-none mb-2;
}

.card__body-title {
  @apply text-xl font-title mb-2;
}

.card__body-content {
  @apply mb-4;
}

.card__body-meta {
  @apply text-right text-gray-primary-2;
}

.card__list {
  @apply flex items-center flex-wrap;
}

.card__list-separator {
  @apply mx-2 opacity-75;
}

@screen dark {
  .card {
    @apply bg-gray-secondary-2;
    /* @apply border border-gray-secondary-2; */
  }
  .card__figure {
    @apply bg-gray-secondary-3;
  }
}
