/* Files */

.file-set {
  @apply mb-12;
}

.file-set--inline {
  @apply mb-0;
}

.file-set__title {
  @apply inline-block mb-4;
  @apply font-title text-lg text-dark no-underline;
}

.file-set__show-all {
  @apply block flex-grow no-underline;
}

.file-set__empty-notice {
  @apply p-8 text-left;
}

.file-set__empty-notice-title {
  @apply text-xl font-title mb-8;
}

.file-set__empty-notice-body {
  @apply text-lg text-gray-primary-2;
}

.file-set__item {
  @apply flex flex-col items-start;
  @apply relative p-4 mb-4;
  @apply border rounded border-gray-secondary-3;
}

.file-set__item:hover {
  @apply shadow border-brand-secondary-3;
}

.file-set__item-title {
  @apply flex-grow no-underline mb-2;
  max-width: 100%;
  overflow-wrap: break-word;
}

.file-set__item-meta {
  @apply flex flex-row items-center justify-start;
}

.file-set__item-meta-item {
  @apply text-gray-primary-2;
}

.file-set__item-meta-item:not(:last-child) {
  @apply mr-2;
}

@screen sm {
  .file-set__item-meta {
    @apply justify-between;
  }
}

@screen lg {
  .file-set__item {
    @apply flex-row items-center;
  }
  .file-set__item-title {
    @apply mb-0 mr-4;
  }
  .file-set__item-meta {
    @apply flex-col justify-center items-end;
  }
  .file-set__item-meta-item:not(:last-child) {
    @apply mb-2 mr-0;
  }
}
