/* Messages */

.site-wide-banner {
  @apply relative z-50 overflow-visible;
  max-height: 0;
}

.site-wide-banner__inner {
  position: absolute;
  left: 0;
  right: 0;
}

.site-wide-banner__container {
  @apply mt-0 py-4 px-8;
  @apply shadow rounded-b border border-t-0;
  @apply bg-gray-secondary-2 text-gray-primary-3 border-gray-primary-3;
}

.site-wide-banner__container--info {
  @apply bg-blue-secondary-2 text-blue-primary-3 border-blue-primary-3;
}

.site-wide-banner__container--error {
  @apply bg-red-secondary-2 text-red-primary-3 border-red-primary-3;
}

.site-wide-banner__container--warning {
  @apply bg-orange-secondary-2 text-orange-primary-3 border-orange-primary-3;
}

.site-wide-banner__container--success {
  @apply bg-brand-secondary-2 text-brand-primary-3 border-brand-primary-3;
}
