.profile-form {
  margin-top: 30px;

  @media(max-width: 767px) {
    margin-top: 10px;
  }

  .avatar {

    width: 100px;
    margin-left: 8px;
    border-radius: 100%;
  }

  .btn-upload-avatar {
    display: block;
    margin-top: 15px;

    @media(max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  [type="submit"] {
    margin-top: 20px;
  }
}
