.store-cart-header {
  margin-top: 60px;

  h3 {
    display: inline-block;
    position: relative;
    color: #{theme-color-level('light', 7)};
    font-family: $merriweather;
    font-size: 24px;
    font-weight: 600;

    @media(max-width: 767px) {
      font-size: 22px;
    }
  }
}

.cart {
  margin-top: 40px;
}

.cart-headers {
  > div {
    margin-bottom: 25px;

    padding-bottom: 10px;
    border-bottom: 1px solid #{theme-color-level('light', -8)};
    color: #{theme-color-level('dark', -2)};

    font-size: 13px;
  }

  .price {
    padding-left: 20px;
  }
}

.cart-product {
  margin-bottom: 30px;

  @media(max-width: 767px) {
    text-align: center;
  }

  .image {
    display: block;
    position: relative;
    text-decoration: none;

    img {
      width: 100%;
      max-width: 150px;
      margin: 0 auto;
    }
  }

  .name {
    display: block;
    margin-top: 17px;
    color: #{theme-color('dark')};

    font-family: $georgia;
    font-size: 16px;
    text-decoration: none;
  }

  .vendor {

    margin-top: 8px;
    color: #{theme-color-level('dark', -5)};
    font-family: $georgia;
    font-size: 14px;
  }

  .variant {
    display: inline-block;
    margin-top: 10px;

    margin-right: 15px;
    color: #{theme-color-level('dark', -6)};

    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;

    .variant-color {
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-left: 4px;
      border-radius: 50px;

      &.color--blue {
        background: #{color('blue')};
      }

      &.color--brown {
        background: #{theme-color-level('warning', 2)};
      }
    }

    .variant-size {
      margin-left: 4px;
      color: #{theme-color-level('dark', 6)};
      font-size: 14px;
    }
  }

  .price {
    display: block;
    margin-top: 17px;

    padding-left: 20px;
    color: #{theme-color-level('light', 5)};

    font-family: $georgia;

    font-size: 17px;
  }

  .input-qty {

    max-width: 60px;
    margin-top: 17px;
    padding-right: 6px;
  }

  .remove {
    display: block;
    margin-top: 18px;
    color: #{theme-color-level('secondary', -8)};

    text-align: center;
    transition: all .2s;

    &:hover {
      color: #{theme-color('dark')};
    }
  }
}

.cart-total {
  margin-bottom: 120px;

  .container {

    margin-top: 10px;
    padding-top: 30px;
    border-top: 1px solid #{theme-color-level('light', -8)};
  }

  .discount {

    margin-top: 15px;
    text-align: right;

    input {
      width: 190px;
      padding: 8px 16px;
      border: 1px solid #{theme-color-level('light', -9)};
      border-radius: 50px;
      background: #{gray('100')};
      font-size: 14px;
      outline: none;

      &:focus {
        border-color: #{theme-color-level('light', -3)};
      }
    }
  }

  .total {
    text-align: right;

    @media(max-width: 767px) {
      margin-top: 30px;
    }

    .price {
      color: #{theme-color-level('dark', -1)};
      font-family: $georgia;
      font-size: 27px;
    }

    span {
      display: block;
      margin-top: 7px;
      color: #{theme-color-level('light', 1)};
      font-family: $georgia;
      font-size: 14px;
      font-style: italic;
    }

    .btn-shadow {
      margin-top: 35px;
      padding: 15px 25px;
      letter-spacing: .5px;

      &:hover {
        background-color: #{theme-color-level('info', 5)};
      }
    }
  }
}
