.store-filters {
  margin-top: 50px;

  .breadcrumb {

    position: relative;
    top: 3px;
    margin: 0;

    padding: 0;
    background: none;
    font-size: 14px;
    float: left;

    @media(max-width: 991px) {
      font-size: 13px;
      float: none;
    }
  }

  .controls {
    float: right;

    @media(max-width: 991px) {

      margin-top: 30px;
      float: none;
    }
  }

  .view {
    display: inline-block;
    margin-left: 40px;

    @media(max-width: 991px) {

      position: relative;
      top: 7px;
      margin-left: 0;
      float: right;
    }

    a {
      display: inline-block;
      margin-left: 15px;
      color: #{theme-color-level('dark', -1)};
      font-size: 13px;
      text-decoration: none;
      text-transform: uppercase;

      &.active {
        color: #{theme-color-level('primary', 1)};

        .icon span {
          background: #{color('blue')};
        }
      }

      .grid-icon {
        display: inline-block;
        position: relative;
        top: 3px;
        width: 15px;
        height: 15px;
        margin-right: 5px;

        >span {
          display: inline-block;
          position: absolute;
          width: 6px;
          height: 6px;
          background: #{theme-color-level('dark', -1)};
        }

        .up-left {
          top: 0;
          left: 0;
        }

        .up-right {
          top: 0;
          right: 0;
        }

        .down-left {
          bottom: 0;
          left: 0;
        }

        .down-right {
          right: 0;
          bottom: 0;
        }
      }

      .list-icon {
        display: inline-block;
        position: relative;
        top: 5px;
        width: 16px;
        margin-right: 5px;

        >span {
          display: block;
          width: 100%;
          height: 2px;
          margin-bottom: 3px;
          background: #{theme-color-level('dark', -1)};
        }
      }
    }
  }

  .sorting {
    display: inline-block;

    .spacial-select {
      margin-left: 10px;

      @media(max-width: 767px) {
        width: 130px;
      }
    }
  }
}

.store-collection-header {
  margin-top: 40px;

  h3 {
    display: inline-block;
    position: relative;
    color: #{theme-color-level('light', 7)};
    font-family: $merriweather;
    font-size: 26px;
    font-weight: 600;

    @media(max-width: 767px) {
      font-size: 23px;

      &:after {
        display: none;
      }
    }

    &:after {
      position: absolute;
      top: -6px;
      right: -30px;
      width: 1px;
      height: 35px;
      background: #{theme-color-level('dark', -10)};
      content: '';
    }
  }

  .tags {
    display: inline-block;
    position: relative;
    top: -3px;
    margin-left: 60px;

    @media(max-width: 767px) {
      display: block;
      top: 0;
      margin-left: 0;
    }

    a {
      display: inline-block;
      margin-right: 23px;
      color: #{theme-color-level('primary', 8)};
      font-family: $georgia;
      transition: all .15s;
      text-decoration: none;

      @media(max-width: 767px) {
        margin-right: 15px;
      }

      &:hover {
        color: #{theme-color-level('warning', 5)};
      }
    }
  }
}

.collection-products {
  margin-top: 50px;

  .container {
    padding-bottom: 60px;
    border-bottom: 1px solid #{theme-color-level('light', -9)};
  }

  .store-pager {
    margin-top: 25px;

    @media(max-width: 767px) {
      margin-top: 40px;
    }

    a {
      color: #{theme-color-level('light', 5)};
      font-weight: 500;
    }
  }
}
