.index-slider-header {
  position: relative;

  .slider-component {
    .slide1 {
      h2 {

        margin-top: 270px;
        color: #{color('white')};

        text-align: center;
        font-size: 36px;
        font-weight: 500;
        letter-spacing: 5.5px;
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.19);
        text-transform: uppercase;

        @media(max-width: 991px) {
          margin-top: 240px;
          font-size: 33px;
        }

        @media(max-width: 767px) {
          margin-top: 200px;
          font-size: 29px;
        }
      }

      .actions {
        margin-top: 40px;
        text-align: center;

        a {
          padding: 12px 26px;

          &:hover {
            background: #{theme-color-level('warning', -2)};
            box-shadow: 1px 2px 25px 1px rgba(0, 0, 0, 0.4);
          }
        }
      }
    }

    .slide2 {
      h2 {

        margin-top: 270px;
        color: #{color('white')};

        text-align: center;
        font-size: 36px;
        font-weight: 500;
        line-height: 52px;
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.19);

        @media(max-width: 991px) {
          margin-top: 240px;
          font-size: 33px;
        }

        @media(max-width: 767px) {
          margin-top: 200px;
          font-size: 29px;
          line-height: 40px;
        }
      }

      .actions {
        margin-top: 40px;
        text-align: center;

        a {
          padding: 12px 26px;

          &:hover {
            background: #{theme-color-level('warning', -2)};
            box-shadow: 1px 2px 25px 1px rgba(0, 0, 0, 0.4);
          }
        }
      }
    }

    .pic {
      &:after {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        height: 100%;
        background: rgba(82, 105, 128, 0.3);
        content: '';
      }
    }
  }
}

.featured-collections {
  margin-top: 80px;

  h3 {

    margin-bottom: 60px;
    color: #{theme-color-level('dark', -3)};
    text-align: center;

    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  a {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;

    @media(max-width: 767px) {
      margin-bottom: 20px;
    }

    &:hover {
      .bg {
        transform: scale3d(1.08, 1.08, 1.08);
      }
    }

    .bg {
      display: block;
      width: 100%;
      height: 300px;
      background-position: center center;
      background-size: cover;
      transition: all .2s ease-out;

      @media(max-width: 991px) {
        height: 270px;
      }

      @media(max-width: 767px) {
        height: 240px;
      }
    }

    .mask {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(85, 93, 136, 0.12);

      span {
        display: block;
        position: absolute;
        bottom: 25px;
        padding-left: 25px;
        color: #{color('white')};
        font-size: 21px;

        @media(max-width: 1199px) {
          font-size: 20px;
        }
      }
    }
  }
}

.featured-products {
  margin-top: 90px;

  @media(max-width: 767px) {
    margin-top: 70px;
  }

  .container {
    padding-bottom: 60px;
    border-bottom: 1px solid #{theme-color-level('light', -9)};

    @media(max-width: 991px) {
      padding-bottom: 30px;
    }
  }

  h3 {

    margin-bottom: 60px;

    padding-top: 70px;
    border-top: 1px solid #{theme-color-level('light', -9)};
    color: #{theme-color-level('dark', -3)};
    text-align: center;

    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.store-testimonials {
  margin-top: 70px;

  h3 {

    margin-bottom: 70px;
    color: #{theme-color-level('dark', -3)};
    text-align: center;

    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;

    @media(max-width: 767px) {
      margin-bottom: 50px;
    }
  }

  .quote {
    position: relative;

    @media(max-width: 767px) {
      margin-bottom: 30px;
    }

    .quote-mark {

      position: relative;
      top: -20px;
      margin-right: 10px;
      color: #{theme-color('info')};
      font-family: $georgia;
      font-size: 63px;
      float: left;
    }

    p {
      width: 80%;
      font-size: 16px;
      float: left;
      line-height: 28px;
    }

    .author {
      margin-top: 9px;

      margin-left: 28px;
      float: left;

      img {
        max-width: 55px;
        border-radius: 100px;
        float: left;
      }

      .name {
        margin-top: 12px;
        margin-left: 12px;
        color: #{gray('700')};
        font-size: 15px;
        float: left;
      }
    }
  }
}

.store-promo {
  margin-top: 120px;

  @media(max-width: 767px) {
    margin-top: 100px;
  }

  .banner {
    display: block;
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    text-decoration: none;

    @media(max-width: 767px) {
      margin-bottom: 30px;
    }

    &:hover {
      .bg {
        transform: scale3d(1.1, 1.1, 1.1);
      }
    }

    &.autumn {
      p {
        top: 50px;

        &:after {
          position: absolute;
          top: 50px;
          right: 0;
          left: 0;
          width: 30px;
          height: 2px;
          margin: auto;
          background: #{color('white')};
          content: '';
        }
      }
    }

    .bg {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      transition: all .3s;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
        content: '';
      }
    }

    p {
      position: relative;
      top: 45px;
      color: #{color('white')};
      text-align: center;
      font-size: 27px;
      z-index: 9;

      span {
        display: block;
        margin-bottom: 2px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }
}

.from-the-blog {
  margin-top: 120px;

  padding-top: 60px;
  border-top: 1px solid #{theme-color-level('light', -10)};

  @media(max-width: 767px) {
    margin-top: 100px;
    padding-top: 50px;
  }

  h3 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .post {
    @media(max-width: 767px) {
      margin-bottom: 40px;
    }

    .pic {
      display: block;
      position: relative;
      width: 100%;
      height: 200px;
      background-position: center center;
      background-size: cover;
      text-decoration: none;

      &:hover {
        transform: scale3d(1.04, 1.04, 1.04);
      }

      &:after {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(51, 51, 51, 0.3);
        transition: all .2s ease;
        content: '';
      }
    }

    .title {
      margin-top: 30px;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .min-read {
      margin-top: 5px;
      color: #{theme-color-level('light', 5)};
      font-size: 13px;
    }

    p {
      margin-top: 20px;
      color: #{theme-color-level('light', 5)};
      font-size: 14px;
      line-height: 25px;
    }
  }
}
