.store-search-header {
  margin-top: 40px;

  h3 {
    display: inline-block;
    position: relative;
    color: #{theme-color-level('light', 7)};
    font-family: $merriweather;
    font-size: 26px;
    font-weight: 600;

    @media(max-width: 767px) {
      font-size: 22px;
    }
  }

  p {
    display: inline-block;
    margin-left: 20px;

    @media(max-width: 767px) {
      display: block;
      margin-left: 0;
    }
  }
}
