.ecommerce-sign-up-form {
  width: 440px;
  margin: 40px auto;

  @media(max-width: 767px) {
    width: auto;
  }

  h1 {

    margin-bottom: 40px;
    text-align: center;
    font-size: 31px;
    font-weight: 300;
  }

  .form-action {

    margin-top: 35px;
    text-align: center;

    button {
      width: 100%;
      padding: 13px 23px;
    }
  }

  .checkbox {
    margin-top: 20px;
  }

  .form-bottom {

    margin-top: 40px;
    color: #{theme-color-level('dark', -5)};
    text-align: center;

    a {
      margin-left: 5px;
    }

    .btn-forgot-password {
      display: block;
      margin-bottom: 40px;
    }
  }
}
