// footer big menu
.footer-big-menu {

  position: relative;
  margin-top: 120px;
  padding: 80px 0 130px;
  background: #{theme-color-level('info', 8)};

  .cta {
    .cta-title {
      margin-bottom: 40px;
      color: #{color('white')};
      font-size: 1.6rem;
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);

      @media(max-width: 767px) {
        font-size: 1.3rem;
      }
    }

    a {
      font-size: 12px;
    }

    .btn-outline {
      display: inline-block;
      padding: 12px 23px;
      border: 2px solid #{theme-color-level('primary', -7)};
      border-radius: 0.25rem;
      color: #{theme-color-level('primary', -9)};
      font-weight: 600;
      transition: all .2s;
      letter-spacing: 0.5px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        border-color: #{color('white')};
        color: #{color('white')};
      }

      @media (max-width: 575px) {
        margin-top: 20px;
      }
    }
  }

  .menu {
    margin-top: 100px;

    @media (max-width: 767px) {
      margin-top: 60px;
      text-align: center;
    }

    .col-md-3 {
      @media(max-width: 991px) {
        margin-bottom: 30px;
      }
    }

    .menu-title {
      margin-bottom: 20px;
      color: #{color('white')};
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }

    .menu-link {
      display: block;
      margin-bottom: 2px;
      color: #{gray('500')};
      transition: all .2s;

      &:hover {
        color: #{color('white')};
      }
    }

    .social-link {
      display: inline-block;
      position: relative;
      width: 32px;
      height: 32px;
      margin-right: 6px;
      border: 2px solid #{theme-color-level('primary', -10)};
      border-radius: 30px;
      color: #{theme-color-level('info', -10)};
      transition: all .2s;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        border-color: #{color('white')};
        color: #{color('white')};
      }

      i {
        position: absolute;
        top: 2px;
        left: 8px;
        font-size: 16px;

        &.ion-social-facebook {
          left: 11px;
        }

        &.ion-social-whatsapp {
          left: 7px;
        }
      }
    }
  }

  .bottom {
    position: absolute;
    right: 0;
    bottom: 18px;
    left: 0;
    color: #{theme-color-level('info', 4)};
    text-align: center;
    font-size: 13px;

    a {
      display: inline-block;
      margin-left: 5px;
      color: #{theme-color-level('info', 4)};
      transition: all .2s;

      &:hover {
        color: #{color('white')};
      }
    }
  }
}

// footer sign up
.footer-signup {
  margin-top: 100px;

  padding: 55px 0 110px;
  background: #{gray('800')};
  color: #{color('white')};

  text-align: center;

  h3 {
    font-size: 27px;
    font-weight: normal;

    @media(max-width: 767px) {
      font-size: 25px;
    }
  }

  p {
    margin-top: 13px;
    color: #{gray('500')};
    font-size: 19px;

    @media(max-width: 767px) {
      font-size: 16px;
    }
  }

  form {
    width: 470px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px;
    border: 1px solid #{gray('800')};
    border-radius: 4px;
    background: #{theme-color-level('secondary', 3)};

    @media(max-width: 767px) {
      width: auto;
      padding: 25px;
    }

    input[type="email"],
    input[type="password"] {
      height: 46px;
      font-size: 15px;

      &::placeholder {
        color: #{theme-color-level('light', 1)};
      }
    }

    [type="submit"] {
      display: block;
      width: 100%;
      margin-top: 20px;
      padding: 14px 12px;
      border: 0;
      background-color: #{theme-color-level('info', 1)};
      font-size: 16px;
      font-weight: 500;
      transition: all .2s linear;
      cursor: pointer;
      outline: none;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.08);

      &:active {
        outline: none;
      }
    }
  }
}

// footer light
.footer-light {
  padding: 40px 0;
  background: #{theme-color-level('secondary', 8)};
  text-align: center;

  font-size: 16px;

  span {
    margin: 0 55px;
    color: #{gray('500')};
  }

  a {
    margin: 0 15px;
    color: #{gray('500')};
    text-decoration: none;

    @media(max-width: 767px) {
      display: block;
      margin-top: 20px;
    }
  }
}
