<IfModule mod_alias.c>
    # Old homepage
    Redirect permanent /site/index.php /
    Redirect permanent /site/portal.php /

    # Old pages -> new pages
    Redirect permanent /site/gumbo/over_ons.php /over
    Redirect permanent /site/gumbo/societeit.php /over
    Redirect permanent /site/gumbo/news.php /nieuws
    Redirect permanent /site/dc/dc_activity_list.php /activiteiten
    Redirect permanent /site/gumbo/sponsors.php /sponsoren

    # Committees
    Redirect permanent /site/gumbo/committee.php /commissies

    # Disputes
    Redirect permanent /site/gumbo/disputes.php /disputen
    Redirect permanent /site/gumbo/amicae.php /disputen/amicae
    Redirect permanent /site/gumbo/m-power.php /disputen/m-power
    Redirect permanent /site/gumbo/aliquando.php /disputen/aliquando
    Redirect permanent /site/gumbo/amicae.php /disputemn/amicae
    Redirect permanent /site/gumbo/proximus.php /disputen/proximus
    Redirect gone /site/gumbo/equester.php

    # Removed pages
    Redirect gone /poolkampioenschap/
    Redirect gone /site/viewtopic.php
    Redirect gone /site/viewforum.php
    Redirect gone /site/gumbo/plazacam.php
    Redirect gone /site/gumbo/pictures.php
</IfModule>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle HTTPS redirect
    RewriteCond %{HTTPS} off
    RewriteCond %{ENV:DOCKER_LOCAL} !=yes
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Add Strict-Transport-Security on HTTPS
    RewriteCond %{HTTPS} on
    RewriteCond %{ENV:DOCKER_LOCAL} !=yes
    RewriteRule .* - [E=ADD_HSTS]

    Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" env=ADD_HSTS

    # Force WWW on root
    RewriteCond %{HTTP_HOST} ^gumbo-millennium.nl
    RewriteRule (.*) https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle files with a hash
    <FilesMatch "\w+\.([a-f0-9]{16})\.(js|css|svg|jpe?g|png|gif)(\.(br|gz))?$">
        Header set Cache-Control "public, no-transform, immutable, max-age=7776000"
    </FilesMatch>

    # Handle Brotli files, if possible
    <IfModule mod_brotli.c>
        # Serve brotli compressed CSS, JS and SVG files if they exist and the
        # client accepts brotli.
        RewriteCond "%{HTTP:Accept-encoding}" "br"
        RewriteCond "%{REQUEST_FILENAME}\.br" "-s"
        RewriteRule "^(.*)\.(js|css|svg)"     "$1\.$2\.br" [QSA]

        # Serve correct content types, and prevent double compression.
        SetEnvIf Request_URI \.(?:js|css|svg)\.br$ no-brotli
        SetEnvIf Request_URI \.(?:js|css|svg)\.br$ no-gzip

        <FilesMatch "\.(js|css|svg)\.br$">
        # Serve correct encoding type.
        Header append Content-Encoding br

        # Force proxies to cache brotli &
        # non-brotli css/js files separately.
        Header append Vary Accept-Encoding
        </FilesMatch>
    </IfModule>
</IfModule>
