/* Activity page */

.activity-header {
  @apply py-4;
  margin-bottom: calc(theme('spacing.64') - calc(theme('spacing.8') * 2) - theme('spacing.16'));
}

.activity-header-filler {
  min-height: theme('spacing.64');
}

.activity-summary {
  @apply block mb-8;
  min-height: theme('spacing.48');
  margin-top: calc(0 - theme('spacing.48'));
}

.activity-summary__card {
  @apply relative py-8 px-12;
  @apply shadow bg-white border border-gray-100;
}

.activity-summary__main {
  @apply flex-grow;
}

.activity-summary__main--horizontal {
  @apply flex flex-row;
}

.activity-summary__titles {
  @apply flex-grow;
}

.activity-summary__title {
  @apply text-2xl font-bold text-black;
}

.activity-summary__subtitle {
  @apply text-lg text-gray-600;
}

.activity-summary__action {
  @apply flex-shrink-0 ml-8;
  @apply hidden;
}

.activity-summary__action-inline {
  @apply block w-full mt-8;
}

.activity-summary__action-inline>.btn {
  @apply block;
}

.activity-summary__stats {
  @apply flex flex-col items-start;
  @apply mt-8;
}

.activity-summary__stat-group {
  @apply block w-full;
}

.activity-summary__stat {
  @apply mb-4;
}

@screen md {
  .activity-summary__card {
    @apply flex flex-row items-start;
  }
  .activity-summary__action {
    @apply block;
  }
  .activity-summary__action-inline {
    @apply hidden;
  }
  .activity-summary__stats {
    @apply flex-row;
  }
  .activity-summary__stat-group {
    @apply mr-8 w-1/3;
  }
  .activity-summary__stat {
    @apply mb-0;
  }
}
