/* Load pages */

@import 'activity.css';
@import 'botman.css';
@import 'generic.css';
@import 'home.css';
@import 'login.css';
@import 'payment-redirect.css';
@import "sponsors.css";
@import "sponsor-single.css";
