/* Botman app */

input.ChatAttachment {
  opacity: 0;
  position: absolute;
  width: .1px;
  height: .1px;
  overflow: hidden;
  z-index: -1
}

.ChatAttachment+label {
  display: inline-block;
  background-color: #fff;
  cursor: pointer
}

.ChatAttachment+label, input.ChatInput {
  height: 25px;
  padding: 10px;
  border: none;
  border-radius: 5px
}

input.ChatInput {
  width: 300px
}

ul.ChatLog {
  list-style: none
}

.ChatLog {
  max-width: 20rem;
  margin: 0 auto
}

.ChatLog .ChatLog__entry {
  margin: 0.5rem
}

.ChatLog__entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%
}

.ChatLog__entry.ChatLog__entry_mine {
  flex-direction: row-reverse
}

.ChatLog__avatar {
  flex-grow: 0;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  z-index: 1
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__avatar {
  display: none
}

.ChatLog__entry .ChatLog__message {
  position: relative;
  margin: 0 12px
}

.ChatLog__entry .ChatLog__message__image {
  max-width: 100%
}

.ChatLog__entry .ChatLog__message:before {
  position: absolute;
  right: auto;
  bottom: 0.6rem;
  left: -12px;
  height: 0;
  border: 6px solid transparent;
  border-right-color: #ddd;
  content: "";
  z-index: 2
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message:before {
  right: -12px;
  bottom: 0.6rem;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #08f
}

.ChatLog__message {
  max-width: 70%;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #ddd;
  font-weight: lighter
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
  border-top: 1px solid #07f;
  border-bottom: 1px solid #07f;
  background-color: #08f;
  color: #fff
}
