/* Payment redirection page */

.loading-dot {
  animation: 1.5s infinite payment-redirect__glow-1;
}

.loading-dot:nth-child(2) {
  animation-name: payment-redirect__glow-2;
}

.loading-dot:nth-child(3) {
  animation-name: payment-redirect__glow-3;
}

@keyframes payment-redirect__glow-1 {
  0%, 80% {
    @apply bg-gray-200;
  }
  10%, 70% {
    @apply bg-gray-500;
  }
}

@keyframes payment-redirect__glow-2 {
  20%, 80% {
    @apply bg-gray-200;
  }
  30%, 70% {
    @apply bg-gray-500;
  }
}

@keyframes payment-redirect__glow-3 {
  40%, 80% {
    @apply bg-gray-200;
  }
  50%, 70% {
    @apply bg-gray-500;
  }
}
