/* Payment redirection page */

.payment-redirect {
  @apply my-32;
}

.payment-redirect__logo {
  @apply flex flex-col items-center;
}

.payment-redirect__logo-image {
  width: 250px;
  height: 100px;
}

.payment-redirect__loading {
  @apply flex flex-row items-center justify-center;
  @apply my-8;
}

.payment-redirect__loading-dot {
  @apply h-4 w-4 rounded-full bg-gray-secondary-2 mr-4;
  animation: 1.5s infinite payment-redirect__glow-1;
}

.payment-redirect__loading-dot:nth-child(2) {
  animation-name: payment-redirect__glow-2;
}

.payment-redirect__loading-dot:nth-child(3) {
  animation-name: payment-redirect__glow-3;
}

.payment-redirect__loading-dot:last-child {
  @apply mr-0;
}

.payment-redirect__title {
  @apply text-xl leading-relaxed text-center mb-8;
}

.payment-redirect__footnote {
  @apply text-gray-primary-2 text-center text-sm;
}

@keyframes payment-redirect__glow-1 {
  0%, 80% {
    @apply bg-gray-secondary-2;
  }
  10%, 70% {
    @apply bg-gray-primary-1;
  }
}

@keyframes payment-redirect__glow-2 {
  20%, 80% {
    @apply bg-gray-secondary-2;
  }
  30%, 70% {
    @apply bg-gray-primary-1;
  }
}

@keyframes payment-redirect__glow-3 {
  40%, 80% {
    @apply bg-gray-secondary-2;
  }
  50%, 70% {
    @apply bg-gray-primary-1;
  }
}
