/* Sponsor */

.partner-block {
  @apply flex flex-row items-stretch flex-wrap;
  margin: 0 calc(0 - theme('spacing.4'));
}

.partner-block__item {
  @apply w-full p-4;
}

.partner-card {
  @apply relative;
  @apply rounded shadow-sm overflow-hidden flex flex-col items-stretch;
}

.partner-card__image-wrapper, .partner-card__image-backdrop, .partner-card__image-logo-wrapper {
  @apply h-48 w-full;
}

.partner-card__image-wrapper {
  @apply h-48 w-full bg-gray-secondary-3 relative;
}

.partner-card__image-backdrop+.partner-card__image-logo-wrapper {
  @apply relative;
  top: calc(0 - theme('spacing.48'));
}

.partner-card__image-logo-wrapper {
  @apply relative;
  @apply flex flex-col items-center justify-center;
}

.partner-card__image-logo-wrapper::before {
  @apply absolute h-48 block;
  @apply bg-gray-secondary-1 opacity-50;
  top: 0;
  right: 0;
  left: 0;
  content: '';
}

.partner-card__image-logo {
  @apply relative;
  @apply object-contain;
  @apply h-32 mx-8 w-auto;
  max-width: calc(100% - theme('spacing.8') * 2);
}

.partner-card__main {
  @apply bg-light p-8;
}

.partner-card__main-title {
  @apply text-xl font-bold mb-2;
}

.partner-card__body {
  @apply mb-4;
}

.partner-card__link {
  @apply appearance-none;
  @apply flex items-center flex-row;
  @apply text-brand-primary-3 font-bold no-underline;
}

.partner-card__link:hover, .partner-card__link:focus {
  @apply text-brand-primary-1;
}

.partner-card__link:active {
  @apply text-brand-primary-2;
}

.partner-link {
  @apply p-4 flex flex-col items-center justify-center;
  min-height: theme('spacing.48');
}

.partner-link__image {
  @apply h-48 w-full;
}

@screen sm {
  .partner-block--secondary .partner-block__item {
    @apply w-1/2;
  }
}

@screen md {
  .partner-block--primary .partner-block__item {
    @apply w-1/2;
  }
  .partner-block--secondary .partner-block__item {
    @apply w-1/3;
  }
}

@screen lg {
  .partner-block--primary .partner-block__item {
    @apply w-1/3;
  }
  .partner-block--secondary .partner-block__item {
    @apply w-1/4;
  }
}
