.btn-outline-secondary {
  color: #{theme-color-level('light', 1)};
}

.btn-pill {
  display: inline-block;
  padding: 10px 27px;
  border-radius: 55px;
  color: #{color('white')};

  text-align: center;

  font-size: 15px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus {
    color: #{color('white')};
    text-decoration: none;
  }

  &:active {
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  }

  // sizes
  &.btn-pill-lg {
    padding: 12px 40px;
    font-size: 16px;
  }

  &.btn-pill-sm {
    padding: 6px 21px;
    font-size: 13px;
  }

  // colors
  &.btn-pill-secondary {
    border: 1px solid #{theme-color-level('light', -3)};
    background: #{color('white')};
    color: #{theme-color-level('dark', -3)};
    text-shadow: none;

    &:hover {
      color: #{theme-color-level('dark', -3)};
    }
  }

  &.btn-pill-primary {
    border: 1px solid #{theme-color-level('primary', -5)};
    background: #{theme-color-level('primary', -5)};
  }

  &.btn-pill-success {
    border: 1px solid #{theme-color('success')};
    background: #{theme-color('success')};
  }

  &.btn-pill-dark {
    border: 1px solid #{gray('800')};
    background: #{gray('800')};
  }

  &.btn-pill-info {
    border: 1px solid #{theme-color('info')};
    background: #{theme-color('info')};
  }

  &.btn-pill-warning {
    border: 1px solid #{theme-color('warning')};
    background: #{theme-color('warning')};
  }

  &.btn-pill-danger {
    border: 1px solid #{theme-color('danger')};
    background: #{theme-color('danger')};
  }
}

.btn-shadow {
  display: inline-block;
  padding: 12px 23px;
  border: 0;

  border-radius: 4px;
  color: #{color('white')};

  text-align: center;

  font-size: 13px;

  font-weight: 600;
  transition: all .2s;
  box-shadow: rgba(23, 43, 99, 0.24) 0 7px 28px;
  cursor: pointer;
  letter-spacing: 1px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.09);
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: #{color('white')};
    box-shadow: rgba(23, 43, 99, 0.3) 0 8px 35px;
    text-decoration: none;
  }

  &:active {
    box-shadow: rgba(23, 43, 99, 0.24) 0 7px 28px, inset 0 2px 3px rgba(0, 0, 0, 0.3);
  }

  // sizes
  &.btn-shadow-sm {
    padding: 7px 14px;
    font-size: 11px;
  }

  &.btn-shadow-lg {
    padding: 16px 31px;
    font-size: 14px;
  }

  // colors
  &.btn-shadow-secondary {
    background: #{color('white')};
    color: #{theme-color-level('dark', -2)};
    text-shadow: none;
  }

  &.btn-shadow-primary {
    background: linear-gradient(#{color('blue')}, #{color('blue')});
  }

  &.btn-shadow-dark {
    background: #{gray('800')};
  }

  &.btn-shadow-info {
    background: #{theme-color-level('primary', -5)};
  }

  &.btn-shadow-warning {
    background: #{theme-color-level('warning', -4)};
  }

  &.btn-shadow-success {
    background: #{color('teal')};
  }

  &.btn-shadow-danger {
    background: #{theme-color-level('danger', 1)};
  }
}
