///
// Typography tools
//
// @author web-master72
// @copyright SEE /LICENSE.md
///
a {
  color: #4a90e2;
  transition: color .3s ease-in-out;

  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
    color: #2275d7;
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #313131;

  &:focus,
  &:hover {
    color: #4a90e2;
  }
}

p,
pre,
ul,
ol,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.25rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Poppins", Arial, serif;
  line-height: 1.2;
  font-weight: bold;
  color: #313131;

  a {
    color: #313131;
  }

  a:focus,
  a:hover {
    color: $primary;
  }
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1rem;
}

h5,
.h5 {
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0 0.6rem;
}

h6,
.h6 {
  font-weight: 500;
  font-size: 0.85rem;
  margin: 0 0 0.6rem;
}

.font-serif {
  font-family: "Lora", "Libre Baskerville", serif;
  font-style: italic;
}

.rotate {
  text-shadow: none !important;
}

hr {
  border-color: rgba($gray-300, 0.9);
  margin-top: 40px;
  margin-bottom: 40px;
}

ul,
ol {
  padding-left: 0;
  list-style: none;

  & > ul {
    margin: 0 0 5px;
  }
}

em {
  font-style: normal;
  opacity: .7;
}

blockquote {
  border: 0;
  border-left: 2px solid #eaeaea;
  font-family: "Lora", "Libre Baskerville", serif;
  line-height: 1.8;
  font-style: italic;
  font-size: 15px;
  padding: 10px 20px;
  margin: 20px 0;
  transition: all .3s ease-in-out;

  & p:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border-color: #4a90e2;
  }
}

.lead {
  line-height: 1.8;
  font-weight: normal;
  font-size: 20px;
}

pre {
  border: 0;
  background: #f5f5f5;
  border-radius: 2px;
  padding: 20px 30px;
  margin: 40px 0;
  font-family: "Courier New", monospace;
  line-height: 1.8;
}

.arrow-list {
  list-style: none;
  padding: 0;
}

.arrow-list > li {
  margin: 0 0 5px;
}

.arrow-list > li:before {
  font: normal normal normal 14px/1 serif;
  font-family: "FontAwesome", serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  content: "\f105";
  font-size: 12px;
  display: inline-block;
  margin-right: 18px;
  position: relative;
  top: 0;
}
