.activity-wrapper {
  @apply mb-3;
  box-sizing: border-box;
}

.activity {
  @apply shadow mx-4 my-2 rounded;
  overflow: hidden;
}

@screen md {
  .activity-wrapper {
    @apply w-4/12;
  }
}

.activity__image {
  height: 200px;
}

.activity__image-inner {
  @apply object-cover object-center;
  min-height: 200px;
}

.activity__image-inner--empty {
  @apply bg-brand-300;
}

.activity__content {
  @apply flex flex-row rounded-lg items-start py-4 px-6;
}

.activity__date {
  @apply flex flex-col items-center text-center;
}

.activity__date-day {
  @apply text-brand-500 text-3xl leading-tight;
}

.activity__date-month {
  @apply leading-none uppercase text-gray-500;
}
