/* Navbar */

.navbar {
  @apply bg-white py-4 text-white;
  @apply shadow;
}

.navbar--no-shadow {
  @apply shadow-none;
}

.navbar__container {
  @apply flex flex-row items-center;
  @apply relative;
}

.navbar__filler {
  @apply flex-grow;
}

.navbar__toggle-box {
  @apply hidden;
}

.navbar__toggle {
  @apply py-2 px-4;
  @apply flex flex-col items-center;
  @apply rounded border border-gray-900;
  @apply text-gray-900 cursor-pointer;
}

.navbar__toggle-icon {
  @apply h-4;
}

.navbar__nav {
  @apply hidden flex-col items-start;
  @apply list-none rounded bg-white shadow-lg;
  @apply absolute p-4;
  top: calc(theme('spacing.16') + theme('spacing.4'));
  right: theme('spacing.4');
}

.navbar__nav::before {
  @apply block h-4 border;
}

.navbar__toggle-box:checked+.navbar__nav {
  @apply flex z-40;
}

.navbar__nav-link, .navbar__dropdown-link {
  @apply block py-2;
  @apply text-sm uppercase no-underline;
}

.navbar__dropdown {
  @apply list-none;
}

.navbar__dropdown-item {}

.navbar__dropdown-link {
  @apply pl-2;
}

@screen md {
  .navbar__toggle {
    @apply hidden;
  }
  .navbar__nav {
    @apply bg-transparent shadow-none;
    @apply static flex p-0;
    @apply flex-row flex-nowrap;
  }
  .navbar__nav-item {
    @apply relative px-4;
  }
  .navbar__nav-item:first-child .navbar__nav-link {
    @apply pl-0;
  }
  .navbar__nav-link {
    @apply py-2;
  }
  .navbar__dropdown {
    @apply hidden flex-col items-start;
    @apply py-2 px-4 shadow bg-white;
    @apply absolute z-40;
    top: calc(theme('spacing.2') * 2 + 1rem);
    left: 0;
  }
  .navbar__dropdown-link {
    @apply px-0 capitalize;
  }
  .navbar__nav-item:hover .navbar__dropdown, .navbar__nav-item:active .navbar__dropdown {
    @apply flex;
  }
}

/*
@screen lg {
  .navbar__toggle {
    @apply hidden;
  }
  .navbar__nav {
    @apply flex flex-row static p-0;
    @apply shadow-none bg-transparent;
    color: inherit;
  }
} */

