/*
 Search bar on page top
*/

.searchbar,
.searchbar__container {
  transition-property: none;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(.15, .45, .30, 1);
}

.searchbar--visible,
.searchbar--visible .searchbar__container {
  transition-timing-function: cubic-bezier(.85, .55, .70, 0);
}

.searchbar {
  @apply block bg-brand-100;

  max-height: 0;
  transition-property: max-height;
  overflow-y: hidden;
}

.searchbar__container {
  @apply mx-auto mb-8 mt-4;

  opacity: 0;
  max-width: 768px;
  transition-property: margin-top, opacity;
}

.searchbar--visible {
  max-height: 16rem;
}

.searchbar--visible .searchbar__container {
  @apply mt-8;
  opacity: 1;
}

.searchbar__header {
  @apply text-2xl mb-4 text-brand-800;
}

.searchbar__input-wrapper {
  @apply flex flex-row flex-no-wrap mb-4;
}

.searchbar__input-search,
.searchbar__input-submit {
  @apply appearance-none block py-3 px-4 m-0 text-lg;
}

.searchbar__input-search {
  @apply flex-grow bg-gray-200;
  @apply border border-r-0 border-brand-500 rounded-l;
  @apply text-gray-700 leading-tight;
}

.searchbar__input-search:focus,
.searchbar__input-search:active {
  @apply outline-none bg-white;
}

.searchbar__input-submit {
  @apply bg-brand-500;
  @apply border border-brand-500 rounded-r;
  @apply text-white leading-tight;
}

.searchbar__input-submit:hover,
.searchbar__input-submit:focus {
  @apply bg-brand-600;
}

.searchbar__input-submit:active {
  @apply bg-brand-700;
}
