.agency-start-project-intro {
  margin-top: 80px;

  h3 {
    color: #{theme-color-level('secondary', 2)};
    text-align: center;
    font-size: 30px;
    font-weight: normal;

    @media(max-width: 767px) {
      font-size: 25px;
    }
  }

  p {

    width: 70%;
    margin: 20px auto 0;
    color: #{theme-color-level('secondary', 1)};
    text-align: center;
    font-size: 17px;

    font-weight: 300;
    line-height: 29px;

    @media(max-width: 767px) {
      width: auto;
      font-size: 15px;
    }
  }
}

.agency-start-project-form {
  form {
    width: 550px;
    margin: 40px auto 0;

    @media(max-width: 767px) {
      width: 100%;
    }

    h3 {

      margin-top: 40px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: .5px;
      text-transform: uppercase;
    }

    p {
      margin-bottom: -5px;
      color: #{gray('600')};
    }

    input[type="text"],
    input[type="email"],
    textarea {

      width: 100%;
      margin-top: 20px;

      padding: 18px 20px;
      border: 1px solid #{theme-color-level('secondary', -8)};

      border-radius: 4px;
      background: white;
      color: #{theme-color-level('light', 5)};
      font-size: 17px;
      transition: all .2s;
      outline: none;

      &::placeholder {
        color: #{gray('500')};
      }

      @media(max-width: 767px) {
        padding: 15px 20px;
        font-size: 16px;
      }

      &:focus {
        border-color: #{theme-color-level('light', 5)};

        &::placeholder {
          color: #{theme-color-level('light', 5)};
        }
      }
    }

    textarea {
      font-size: 16px;
    }

    input[type="submit"] {

      width: 100%;
      margin-top: 23px;

      padding: 18px 20px;
      border: none;

      border-radius: 4px;
      background: linear-gradient(to bottom, #{theme-color-level('primary', -5)} 0, #{theme-color-level('primary', -1)} 100%);
      color: #{color('white')};

      text-align: center;

      font-size: 18px;

      font-weight: 500;
      transition: all .2s;
      box-shadow: rgba(23, 43, 99, 0.24) 0 7px 28px;
      cursor: pointer;
      outline: none;
      text-shadow: 1px 1px 0 rgba(106, 132, 158, 0.6);

      &:hover {
        color: #{color('white')};
      }
    }
  }
}

.agency-start-city-bg {

  height: 370px;
  margin-top: -60px;

  margin-bottom: -200px;
  background: url('#{$imagesPath}/graphics/city-bw.jpg');
  background-position: center center;

  background-size: cover;
}
