.agency-about-hero {

  position: relative;
  height: 550px;
  background-image: url('#{$imagesPath}/unsplash/photo-1422558041234-896cd9791234.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  @media(max-width: 1024px) {
    background-attachment: inherit;
  }

  @media(max-width: 767px) {
    height: 500px;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, rgba(28, 46, 79, 0.62) 0, rgba(28, 46, 79, 0.7) 14.87%, rgba(45, 83, 123, 0.6) 100%);
    content: '';
  }

  section {
    position: relative;
    height: 100%;
    z-index: 9;
  }

  .hero-text {
    position: absolute;
    top: 240px;
    right: 0;
    left: 0;

    @media(max-width: 767px) {
      top: 170px;
    }
  }

  p {
    width: 70%;
    margin: 0 auto;
    color: #{color('white')};
    text-align: center;
    font-size: 24px;
    animation-delay: .3s;
    line-height: 37px;

    @media(max-width: 767px) {
      width: 80%;
      font-size: 21px;
    }
  }
}

.agency-about-intro {
  margin-top: 90px;

  p {

    width: 65%;
    margin: auto;
    color: #{theme-color-level('secondary', -2)};
    text-align: center;
    font-size: 17px;
    line-height: 32px;

    @media(max-width: 767px) {
      width: auto;
    }
  }
}

.agency-about-team {
  margin-top: 100px;

  padding-top: 50px;
  padding-bottom: 70px;
  border-top: 1px solid #{theme-color-level('light', -10)};
  background: #{gray('100')};

  h4 {
    text-align: center;
    font-size: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  hr {
    width: 50px;
    margin: 20px auto 25px;
    border-top: 2px solid #{theme-color-level('light', -5)};
  }

  h3 {
    margin-bottom: 70px;
    color: #{theme-color-level('dark', -2)};
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
  }

  .member {
    position: relative;
    width: 128px;
    height: 128px;
    margin: 0 auto;
    text-align: center;

    &:hover {
      .mask {
        opacity: 1;
      }
    }

    .mask {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      background: rgba(29, 32, 34, 0.7);
      transition: all .4s;

      a {
        display: inline-block;
        position: relative;
        top: 52px;
        width: 25px;
        height: 25px;
        margin: 0 3px;
        border-radius: 50%;
        background: #{color('white')};
        color: rgba(56, 64, 74, 1);
        text-align: center;
        font-size: 18px;
      }
    }

    img {
      border-radius: 50%;
    }
  }

  .name {
    margin-top: 20px;
    margin-bottom: 45px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

@keyframes collage {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-1810px, 0, 0);
  }
}

.agency-about-pics {
  position: relative;
  width: 100%;

  height: 450px;
  max-width: inherit;
  overflow: hidden;

  .photos {
    position: absolute;
    width: 5430px;
    height: 100%;
    background: transparent url('#{$imagesPath}/graphics/collage.jpg') repeat-x left top;
    transform: translate3d(0, 0, 0);
    animation: collage 60s linear infinite;
  }
}

.agency-about-cta {
  margin-top: 70px;
  text-align: center;

  h3 {
    color: #{theme-color-level('secondary', 3)};
    font-size: 28px;

    @media(max-width: 767px) {
      font-size: 25px;
    }
  }

  p {

    margin-top: 18px;
    color: #{theme-color-level('secondary', -2)};
    font-size: 16px;
    line-height: 28px;
  }
}

.agency-about-clients {
  margin-top: 140px;
  margin-bottom: -60px;
  text-align: center;

  header {

    position: relative;
    margin-bottom: 30px;

    &:before {
      position: absolute;
      top: 11px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #{theme-color-level('light', -9)};
      content: '';
    }

    h4 {
      display: inline-block;
      position: relative;
      padding: 0 40px;
      background: #{color('white')};
      color: #{theme-color-level('secondary', -5)};
      font-family: $lato;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1.8px;
      text-transform: uppercase;
    }
  }
}
