.agency-portfolio-hero {
  margin-top: 100px;

  h1 {
    color: #{theme-color-level('dark', -1)};
    text-align: center;
    font-size: 29px;
    font-weight: 500;

    @media(max-width: 767px) {
      font-size: 26px;
    }
  }

  p {
    margin-top: 13px;
    color: #{theme-color-level('dark', -5)};

    text-align: center;
    font-size: 17px;
  }
}

.agency-portfolio-gallery {

  max-width: 1400px;
  margin: 80px auto 0;
  text-align: center;

  .project {
    display: block;
    position: relative;
    margin: 5px;
    overflow: hidden;

    &:hover {
      .mask {
        opacity: 1;

        .info {
          transform: none;
        }

        .btn-see-project {
          transform: none;
        }
      }

      .pic {
        transform: scale3d(1.1, 1.1, 1.1);
      }
    }

    .mask {
      display: block;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(68, 101, 144, 0.9);
      color: #{color('white')};
      text-align: center;
      transition: all .35s ease;
      z-index: 9;

      .info {
        display: block;
        transform: translateY(-8px);
        transition: all .35s ease;
      }

      h3 {
        margin-top: 70px;
        font-size: 23px;
      }

      p {
        color: #{theme-color-level('primary', -9)};
        font-size: 15px;
        font-weight: 600;
      }

      .btn-see-project {
        display: inline-block;
        margin-top: 30px;
        padding: 9px 16px;
        border: 1px solid #{color('white')};
        border-radius: 3px;
        font-size: 12px;
        font-weight: 600;
        transform: translateY(8px);
        transition: all .35s ease;
        letter-spacing: 0.8px;
        text-transform: uppercase;
      }
    }

    .pic {
      display: block;
      width: 100%;
      height: 300px;
      background-position: center center;
      background-size: cover;
      transition: all .35s ease;
      float: left;
    }
  }
}

.agency-portfolio-cta {
  margin-top: 100px;

  margin-bottom: -50px;
  text-align: center;

  h3 {
    color: #{theme-color-level('secondary', 3)};
    font-size: 28px;

    @media(max-width: 767px) {
      font-size: 25px;
    }
  }

  p {
    margin-top: 18px;
    color: #{theme-color-level('secondary', -2)};
    font-size: 16px;
    line-height: 28px;
  }
}
