.agency-alt-hero {

  position: relative;
  min-height: 500px;
  background-image: url('#{$imagesPath}/unsplash/breather-187923.jpg');
  background-position: center center;
  background-size: cover;

  @media(max-width: 767px) {
    min-height: 270px;
    background-position: center center;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(85, 93, 107, 0.35);
    content: '';
  }

  h3 {
    position: relative;
    top: 230px;
    color: #{color('white')};
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 43px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
    z-index: 1;

    @media(max-width: 767px) {
      top: 130px;
      font-size: 33px;
    }
  }
}

.agency-alt-contact-info {
  padding: 80px 0 90px;

  .col-md-4 {
    @media(max-width: 767px) {

      margin-bottom: 25px;
      text-align: center;
    }

    @media(min-width: 992px) {

      padding-top: 10px;
      padding-left: 25px;
      border-left: 1px solid #{theme-color-level('light', -8)};
    }
  }

  h4 {
    font-weight: normal;

    @media(max-width: 767px) {
      font-size: 1.3rem;
    }

    i {

      position: relative;
      top: 4px;
      margin-right: 8px;
      font-size: 2rem;
    }
  }

  p {
    font-size: 17px;
  }
}

.agency-alt-map {
  position: relative;

  .map {
    width: 100%;
    height: 580px;
  }

  .location {

    position: absolute;
    top: 90px;
    max-width: 300px;
    padding: 45px 30px;
    border-radius: 3px;
    background: #{color('white')};
    box-shadow: 0 9px 30px 0 rgba(0,0,0,.09);
    z-index: 10;

    @media(max-width: 991px) {
      max-width: 260px;
    }

    h5 {
      margin-bottom: 20px;
      color: #{theme-color-level('primary', 6)};
    }
  }
}
