.api-docs {
  position: relative;

  .guide {
    position: fixed;
    top: 0;

    left: 0;
    width: 210px;
    height: 100%;
    border-right: 1px solid #{gray('300')};
    background: #{gray('100')};
    overflow: hidden;
    overflow-y: auto;
    z-index: 25;

    .logo {
      margin-top: 0;
      font-size: 25px;

      a {
        display: block;
        padding: 20px 0 15px 23px;
        border-bottom: 1px solid #{gray('300')};
        color: #{theme-color-level('dark', 9)};
        transition: color .15s linear;
        box-shadow: 0 1px #{color('white')};

        &:hover {
          color: #{theme-color-level('light', 3)};
          text-decoration: none;
        }
      }
    }

    .nav-link {
      display: block;
      padding: 10px 15px 10px 25px;
      color: #{theme-color-level('secondary', 3)};
      font-size: 13px;
      font-weight: 500;
      transition: all .15s linear;

      &:hover {
        background: #{gray('300')};
      }

      &.active {
        background: #{gray('300')};

        + .nav {
          display: block;
        }
      }

      + .nav {
        display: none;
        margin-bottom: 7px;

        li {
          a {
            padding: 6px 15px 5px 35px;
            color: #{theme-color-level('primary', -5)};
            font-weight: normal;
          }
        }
      }
    }
  }

  .api-info {

    min-width: 750px;
    margin-left: 210px;
    background: #{color('white')};

    .methods {
      position: relative;
      margin-left: 50%;
      background: #{theme-color-level('secondary', 7)};

      .languages {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 5px 0 5px 20px;
        background: #{theme-color-level('secondary', 5)};
        box-shadow: 2px 1px 3px #{theme-color-level('dark', 9)};
        z-index: 999;

        .language {
          display: inline-block;
          padding: 5px 15px;
          color: #{gray('400')};
          font-size: 15px;
          text-decoration: none;

          &.selected {
            color: #{color('white')};
            font-weight: 500;
          }
        }
      }

      .method {
        &:nth-child(2) {
          .method-section {
            .method-description {
              padding-top: 0;
              border-top: 0;
            }

            .method-example {
              padding-top: 35px;
              border-top: 0;
              box-shadow: none;
            }
          }
        }

        &:last-child {
          .method-section {
            padding-bottom: 70px;
          }
        }

        .method-section {
          position: relative;
          margin-left: -100%;
          padding-top: 50px;

          .method-description {
            width: 50%;
            padding: 0 30px;
            padding-top: 40px;
            border-top: 1px solid #{theme-color-level('light', -9)};
            float: left;

            h3 {
              margin-top: 0;
              margin-bottom: 20px;
              font-size: 21px;
            }

            p {
              margin-bottom: 20px;
              color: #{theme-color-level('light', 5)};
              line-height: 23px;
            }

            .info {
              margin-top: 45px;
              margin-bottom: 40px;

              h4 {
                padding-bottom: 15px;
                border-bottom: 1px solid #{theme-color-level('light', -9)};
                font-size: 14px;
              }

              .field {
                margin-top: 17px;
                font-size: 13px;

                .key {
                  width: 40%;
                  padding-right: 10px;
                  color: #{theme-color-level('dark', -1)};
                  text-align: right;
                  font-weight: bold;
                  float: left;
                }

                .desc {
                  width: 60%;
                  padding-left: 10px;
                  color: #{theme-color-level('dark', -3)};
                  float: right;
                  line-height: 21px;

                  strong {
                    display: block;
                    margin-bottom: 5px;
                    color: #{theme-color-level('dark', -1)};
                  }
                }
              }
            }
          }

          .method-example {
            width: 50%;
            margin-left: 50%;
            padding: 75px 30px 0;
            border-top: 1px solid #{theme-color-level('dark', 9)};
            color: #{color('white')};
            box-shadow: inset 0 1px rgba(255, 255, 255, 0.17);

            pre {
              margin: 0;
              padding: 0;
              border: none;
              background: none;

              code {
                display: none;
                background: none;
                color: #{gray('300')};
                font-family: $monospace;
                font-size: 12px;

                @include font-smoothing(false);

                &.always-visible {
                  display: block !important;
                }

                &.ruby {
                  display: block;
                }

                > * {
                  color: #{gray('300')};
                  line-height: 20px;
                }
              }

              .ruby {
                color: #{gray('300')};

                > * {
                  color: #{gray('300')};
                  line-height: 20px;
                }

                [class*=keyword] {
                  color: #{theme-color-level('primary', -8)};
                }

                [class*=string] {
                  color: #{theme-color-level('light', -6)};
                }

                [class*=comment] {
                  color: #{theme-color-level('light', -2)};
                }

                [class*=constant] {
                  color: #{theme-color-level('warning', -5)};
                }

                [class*=symbol] {
                  color: #{theme-color-level('primary', -8)};
                }
              }

              .python {
                color: #{gray('300')};

                > * {
                  color: #{gray('300')};
                  line-height: 20px;
                }

                [class*=keyword] {
                  color: #{theme-color-level('primary', -8)};
                }

                [class*=string] {
                  color: #{theme-color-level('light', -6)};
                }

                [class*=comment] {
                  color: #{theme-color-level('light', -2)};
                }

                [class*=class] {
                  color: #{theme-color-level('warning', -5)};
                }

                [class*=params] {
                  color: #{theme-color-level('primary', -8)};
                }
              }

              .php {
                color: #{gray('300')};

                > * {
                  color: #{gray('300')};
                  line-height: 20px;
                }

                [class*=keyword] {
                  color: #{theme-color-level('primary', -8)};
                }

                [class*=string] {
                  color: #{theme-color-level('light', -6)};
                }

                [class*=comment] {
                  color: #{theme-color-level('light', -2)};
                }
              }
            }
          }
        }
      }
    }
  }
}
