.blog-header {

  position: relative;
  min-height: 400px;
  background-image: url('#{$imagesPath}/unsplash/photo-1442965416224-f6a7eca980fa.jpg');
  background-position: center center;
  background-size: cover;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(9, 24, 42, 0.1) 0%, rgba(9, 24, 42, 0.7) 100%);
    content: '';
  }

  section {
    position: relative;
    padding-top: 190px;
    z-index: 9;

    @media(max-width: 767px) {
      padding-top: 110px;
    }
  }

  a {
    display: block;
    color: #{color('white')};
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    animation-delay: .2s;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);

    @media(max-width: 767px) {
      font-size: 23px;
    }

    span {
      display: block;
      margin-top: 8px;
      color: #{theme-color-level('info', -10)};
      text-align: center;
      font-size: 16px;
      font-style: italic;
      animation-delay: .4s;
      text-transform: none;
    }
  }

  .bottom {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    width: 750px;
    margin: auto;
    z-index: 9;

    @media(max-width: 991px) {
      width: 100%;
      padding: 0 20px;
    }

    .author {
      float: left;

      .avatar {
        max-width: 55px;
        border-radius: 50px;
        float: left;
      }

      .name {
        position: relative;
        top: 10px;
        margin-left: 10px;
        color: #{color('white')};
        font-weight: 500;
        float: left;
      }
    }

    .featured {
      position: relative;
      top: 30px;
      color: #{theme-color('info')};
      text-align: right;
      font-size: 14px;
      font-weight: 600;
      font-style: italic;
      float: right;
      letter-spacing: 1px;
      text-transform: uppercase;

      @media(max-width: 767px) {
        font-size: 12px;
      }
    }
  }
}

.blog-posts-list {
  > .container {
    @media (min-width: 992px) {
      width: 720px;
    }
  }

  .post {
    margin-top: 80px;

    .bg {
      display: block;
      width: 100%;
      height: 330px;
      margin-top: 25px;
      background-position: center center;

      background-size: cover;
      text-decoration: none;

      @media(max-width: 767px) {
        height: 280px;
      }
    }

    .title {
      display: block;
      color: #{theme-color('dark')};
      font-size: 25px;
      font-weight: 500;
      text-decoration: none;
    }

    .author {

      position: relative;
      margin-top: 2px;
      color: #{theme-color-level('dark', -6)};

      .avatar {
        position: absolute;
        top: -10px;
        left: -65px;
        width: 40px;
        border-radius: 50px;

        @media(max-width: 991px) {
          display: none;
        }
      }
    }

    .description {

      margin-top: 25px;
      color: #{theme-color-level('dark', -3)};
      font-size: 15px;
      line-height: 24px;
    }

    .read-more {
      display: inline-block;
      margin-top: 15px;

      i {

        margin-left: 10px;
        font-size: 12px;
      }
    }
  }
}

.blog-pager {
  margin-top: 80px;
}
