.blog-cols-page {
  background: #{color('white')};
}

.blog-cols-header {

  position: relative;
  margin-top: 60px;

  h1 {
    margin-top: 0;
    color: #{theme-color-level('dark', -3)};
    font-size: 23px;
  }

  p {
    margin-top: 12px;
    color: #{theme-color-level('light', 4)};
    font-size: 17px;
  }
}

.blog-cols-wrapper {
  margin-top: 40px;

  @media(max-width: 767px) {
    text-align: center;
  }

  .post {
    display: inline-block;

    @media(min-width: 992px) {
      &:nth-child(3n+3) {
        .post-wrapper {
          margin: 20px 0;
        }
      }
    }

    @media(min-width: 768px) and (max-width: 991px) {
      &:nth-child(2n+2) {
        .post-wrapper {
          margin: 20px 0;
        }
      }
    }

    .post-wrapper {
      display: inline-block;
      position: relative;
      width: 330px;

      height: 480px;
      margin: 20px 20px 30px 0;
      background-color: #{color('white')};
      color: #{gray('700')};

      text-align: left;
      transition: all 250ms cubic-bezier(.02, .01, .47, 1);
      box-shadow: 0 20px 20px rgba(0,0,0,.08);
      vertical-align: top;

      @media(max-width: 1199px) {
        width: 293px;
      }

      @media(max-width: 991px) {
        width: 330px;
      }

      @media(max-width: 767px) {
        margin: 20px 0;
      }

      &:hover {
        transform: translate(0,-20px);
        box-shadow: 0 40px 40px rgba(0,0,0,.16);
      }
    }

    .post-bg {

      width: 100%;
      height: 295px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      @media(max-width: 1199px) {
        height: 260px;
      }
    }

    .post-intro {
      padding: 20px 20px 0;
    }

    .post-title {
      font-size: 22px;
      line-height: 32px;
    }

    .post-min-read {
      margin-top: 5px;
      color: #{theme-color-level('dark', -5)};

      font-size: 12px;
    }

    .post-description {

      margin-top: 13px;
      color: #{theme-color-level('secondary', -3)};
      font-size: 15px;
      line-height: 23px;
    }
  }
}
