.career-post-header {

  position: relative;
  min-height: 380px;
  background-image: url('#{$imagesPath}/unsplash/photo-1474843148229-3163319fcc4c.jpg');
  background-position: center center;

  background-size: cover;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    content: '';
  }

  section {
    position: relative;
    padding-top: 190px;
    z-index: 9;

    @media(max-width: 767px) {
      padding-top: 150px;
    }

    h1 {
      margin: 0 auto;
      color: #{color('white')};
      text-align: center;
      font-size: 33px;
      font-weight: 500 !important;
      letter-spacing: 1px;
      line-height: 41px;

      @media(max-width: 767px) {
        font-size: 27px;
      }
    }

    p {
      margin-top: 10px;
      color: #{color('white')};
      text-align: center;
      font-size: 16px;
      font-weight: 600;

      @media(max-width: 767px) {
        font-size: 15px;
      }
    }
  }
}

.career-post-content {
  margin-top: 70px;

  @media(max-width: 767px) {
    margin-top: 40px;
  }

  > .container {
    max-width: 750px;
  }

  section {
    margin-bottom: 40px;
  }

  h4 {

    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
  }

  p {
    color: #{theme-color-level('dark', -2)};
  }

  ul {
    padding-left: 20px;
    color: #{theme-color-level('dark', -2)};

    li {
      margin-bottom: 5px;
    }
  }

  .apply-now {

    margin-top: 55px;
    padding: 21px;
    border: 1px solid #{theme-color-level('light', -9)};
    border-radius: 5px;
    color: #{theme-color-level('dark', -2)};

    text-align: center;

    font-size: 16px;

    a {
      margin-left: 25px;

      @media(max-width: 767px) {
        display: block;
        margin: 25px 0 0;
      }
    }
  }
}
