.careers-header {

  position: relative;
  min-height: 500px;
  background-image: url('#{$imagesPath}/bgs/google-office-irvine-5.jpg');
  background-position: center center;

  background-size: cover;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .35);
    content: '';
  }

  section {
    position: relative;
    padding-top: 230px;
    z-index: 9;

    @media(max-width: 767px) {
      padding-top: 190px;
    }

    h1 {
      width: 55%;
      margin: 0 auto;
      color: #{color('white')};
      text-align: center;
      font-size: 33px;
      font-weight: 500 !important;
      letter-spacing: 1px;
      line-height: 42px;

      @media(max-width: 991px) {
        width: auto;
        font-size: 29px;
        line-height: 36px;
      }

      @media(max-width: 767px) {
        font-size: 26px;
      }
    }
  }
}

.careers-intro {
  margin-top: 70px;

  @media(max-width: 767px) {
    margin-top: 50px;
  }

  h3 {
    text-align: center;
    font-size: 27px;
    font-weight: 500;

    @media(max-width: 767px) {
      font-size: 25px;
    }
  }

  p {
    width: 74%;
    margin: 20px auto 0;
    color: #{theme-color-level('dark', -3)};

    text-align: center;
    font-size: 15px;
    line-height: 24px;

    @media(max-width: 767px) {
      width: auto;
    }
  }

  .careers-intro-gallery {
    margin-top: 65px;

    img {
      margin-bottom: 20px !important;
    }
  }
}

.careers-perks {
  margin-top: 80px;

  @media(max-width: 767px) {
    margin-top: 50px;
  }

  h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }

  p {
    width: 70%;
    margin: 20px auto 55px;
    color: #{theme-color-level('dark', -2)};

    text-align: center;
    line-height: 22px;
  }
}

.careers-benefits {

  height: 480px;
  margin-top: 90px;

  @media(max-width: 991px) {
    height: auto;
  }

  @media(max-width: 767px) {
    margin-top: 60px;
  }

  .pic {
    display: block;
    position: relative;
    width: 50%;
    height: 100%;
    background-image: url('#{$imagesPath}/unsplash/photo-1470753937643-efeb931202a9.jpg');
    background-position: 0 0;
    background-size: cover;
    float: left;
  }

  .list {
    position: relative;
    width: 50%;
    height: 100%;
    padding: 60px 100px 0 120px;
    background-color: #{gray('100')};
    float: right;

    @media(max-width: 991px) {
      width: auto;
      padding: 40px;
      text-align: center;
      float: none;
    }

    h3 {
      color: #{theme-color-level('light', 7)};
      font-size: 24px;
      font-weight: normal;
    }

    ul {
      margin-top: 30px;
      padding-left: 20px;

      @media(max-width: 991px) {
        padding-left: 0;
      }

      li {
        margin-bottom: 12px;
        color: #{theme-color-level('secondary', 1)};
        font-size: 15px;
        list-style-type: circle;

        @media(max-width: 991px) {
          list-style-type: none;
        }
      }
    }
  }
}

.careers-listing {
  margin-top: 110px;

  @media(max-width: 767px) {
    margin-top: 60px;
  }

  .title {

    margin-bottom: 65px;
    text-align: center;

    font-size: 25px;

    @media(max-width: 767px) {
      font-size: 23px;
    }
  }

  .department {
    margin-bottom: 40px;

    @media(max-width: 767px) {
      text-align: center;
    }

    h4 {

      margin-bottom: 20px;
      font-size: 21px;
      font-weight: normal;
    }

    .role {
      margin-bottom: 20px;

      a {
        font-size: 16px;
      }

      .city {
        color: #{theme-color-level('dark', -3)};
      }
    }
  }
}
