.index-slider-header {
  position: relative;
  top: -1px;

  .slider-component {
    height: 650px;

    .slide {
      &--center {
        text-align: center;
      }

      &--left {
        text-align: left;

        @media(max-width: 991px) {
          text-align: center;
        }
      }

      &--right {
        text-align: right;

        @media(max-width: 991px) {
          text-align: center;
        }
      }

      @media (min-width: 1200px) {
        .container {
          width: 950px;
        }
      }

      h2 {

        margin-top: 230px;
        color: #{color('white')};
        font-size: 37px;

        font-weight: normal;
        line-height: 45px;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.17);

        @media(max-width: 991px) {
          font-size: 33px;
        }

        @media(max-width: 767px) {
          font-size: 27px;
          line-height: 35px;
        }
      }

      a {
        margin-top: 35px;
      }
    }

    .pic {
      &:after {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        height: 100%;
        background: rgba(82, 105, 128, 0.42);
        content: '';
      }
    }
  }
}

.index-slider-features {
  margin-top: 110px;

  @media(max-width: 991px) {
    margin-top: 70px;
  }

  .feature {
    @media(max-width: 767px) {

      margin-bottom: 35px;
      text-align: center;
    }
  }

  h3 {
    color: #{gray('800')};
    font-size: 17px;
    line-height: 24px;

    img {
      display: block;
      position: relative;
      top: 1px;
      margin-right: 15px;
      float: left;

      @media(max-width: 991px) {
        top: 0 !important;
        height: 35px;
        margin-bottom: 25px;
        float: none;
      }

      @media(max-width: 767px) {
        margin: 0 auto 25px;
      }
    }
  }

  p {

    margin-top: 25px;
    color: #{theme-color-level('secondary', -2)};
    font-size: 15px;
    line-height: 25px;
  }

  a {
    position: relative;
    font-weight: 500;
    transition: all .2s;
    text-decoration: none;

    @media(max-width: 767px) {
      top: 0;
    }

    &:hover {
      &:after {
        right: -20px;
      }
    }

    &:after {
      position: absolute;
      right: -15px;
      transition: all .2s;
      content: "▸";
    }
  }
}

.call-to-action-signup {
  margin-top: 110px;
  margin-bottom: -100px;

  padding: 60px 0 70px;
  border-top: 1px solid #{theme-color-level('light', -10)};
  border-bottom: 1px solid #{theme-color-level('light', -10)};
  background: #{gray('100')};

  h3 {
    margin: 0;
    color: #{theme-color-level('light', 7)};
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 1px 1px #{color('white')};
    text-transform: uppercase;
  }

  form {
    position: relative;
    margin-top: 40px;

    .form-group {
      width: 250px;
      margin-right: 7px;

      @media(max-width: 991px) {
        width: 220px;
      }

      @media(max-width: 767px) {
        width: 100%;
        margin-bottom: 1rem;
      }
    }

    input {
      width: 100% !important;
      height: 42px;
      font-size: 15px;
      box-shadow: 0 1px 1px #{color('white')};

      &:focus {
        box-shadow: none;
      }
    }

    [type="submit"] {
      @media(max-width: 1199px) {
        margin-top: 25px;
      }
    }

    .agree {
      display: block;
      position: relative;
      top: 20px;
      padding-right: 50px;
      color: #{theme-color-level('dark', -3)};
      text-align: right;

      @media(max-width: 1199px) {
        padding: 0;
        text-align: center;
      }
    }
  }
}
