.business-hero {

  position: relative;
  min-height: 100vh;
  padding-top: 220px;
  background: url('#{$imagesPath}/unsplash/michael-benz-189971.jpg');
  background-position: center 0;
  background-size: cover;
  overflow: hidden;

  @media(max-width: 1024px) {
    background-attachment: inherit;
  }

  @media(max-width: 991px) {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container {
    position: relative;
    z-index: 10;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, rgba(63, 89, 118, 0.3) 0, rgba(14, 20, 34, 0.5) 80%);
    content: '';
  }

  h2 {
    width: 800px;
    color: #{color('white')};
    font-family: $sourceSans;
    font-size: 48px;
    font-weight: 300;
    animation-delay: .1s;
    letter-spacing: .5px;
    line-height: 54px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.11);

    @media(max-width: 991px) {
      width: auto;
      font-size: 43px;
      line-height: 50px;
    }

    @media(max-width: 767px) {
      text-align: center;
      font-size: 38px;
    }
  }

  p {
    width: 480px;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    animation-delay: .4s;
    line-height: 25px;

    @media(max-width: 991px) {
      width: auto;
    }

    @media(max-width: 767px) {
      text-align: center;
      font-size: 15px;
      line-height: 24px;
    }
  }

  .actions {
    margin-top: 50px;
    animation-delay: .4s;

    @media(max-width: 767px) {
      text-align: center;
    }

    .btn-pill {
      padding: 13px 44px 16px;
      font-weight: 600;

      &:active {
        border-color: #{theme-color-level('success', 5)};
      }
    }
  }
}

.business-intro {
  margin-top: 90px;
}

.business-blog-grid {
  margin-top: 150px;

  header {

    position: relative;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;

    &:before {
      position: absolute;
      top: 11px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #{theme-color-level('light', -9)};
      content: '';
    }

    h4 {
      display: inline-block;
      position: relative;
      top: -8px;
      padding: 0 40px;
      background: #{color('white')};
      color: #{theme-color-level('secondary', -5)};
      font-size: 15px;
      font-weight: 600;
      word-spacing: 1.6px;
      letter-spacing: 1.8px;
      text-transform: uppercase;
    }
  }

  section {
    margin-top: 50px;

    .row {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .post {
      display: block;
      position: relative;
      width: 100%;
      height: 270px;
      overflow: hidden;
      text-decoration: none;

      &:hover {
        .bg {
          transform: scale3d(1.12, 1.12, 1.12);
        }
      }

      .bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transform: scale3d(1, 1, 1);
        transition: all .4s;

        &:after {
          position: absolute;
          top: 50%;
          right: 0;
          bottom: 0;
          left: 0;
          background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(255, 255, 255, 0)), color-stop(100%, rgba(9, 24, 42, 0.8)));
          content: '';
        }
      }

      p {
        position: absolute;
        bottom: 15px;
        left: 20px;
        width: 60%;
        color: #{color('white')};
        font-size: 16px;
        font-weight: 600;
        z-index: 99;
      }
    }
  }
}

.business-single-client {

  position: relative;
  height: 500px;
  margin-top: 160px;
  background-image: url('#{$imagesPath}/unsplash/photo-1479243396208-be1751535cdb.jpg');
  background-position: center center;
  background-size: cover;

  @media(max-width: 767px) {
    height: auto;
    margin-top: 100px;
  }

  .quote-wrapper {
    position: absolute;
    right: 13%;
    bottom: -60px;
    width: 510px;
    height: 390px;
    padding: 60px 70px;
    background: #{theme-color-level('secondary', 1)};
    box-shadow: 0 5px 16px rgba(76, 84, 109, 0.4);

    @media(max-width: 767px) {
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      width: auto;
      height: auto;
      padding: 50px 40px;
    }
  }

  .logo {
    max-width: 160px;
  }

  p {
    margin-top: 25px;
    color: #{color('white')};
    font-size: 18px;
    font-style: italic;
    line-height: 27px;

    @media(max-width: 767px) {
      font-size: 16px;
    }
  }

  .author {
    margin-top: 20px;
    color: #{theme-color-level('primary', -10)};
    font-size: 16px;
  }
}
