.index-header {
  min-height: 650px;
  background-image: linear-gradient(-45deg, #{theme-color-level('primary', 2)} 0, #{theme-color-level('primary', 3)} 20%, #{theme-color-level('primary', 9)} 100%);

  @media(max-width: 991px) {
    min-height: 550px;
  }

  @media(max-width: 767px) {
    min-height: 510px;
  }

  section {
    padding-top: 180px;

    @media(max-width: 991px) {
      padding-top: 130px;
    }

    @media(max-width: 767px) {
      padding-top: 80px;
      text-align: center;
    }

    h1 {

      margin-top: 20px;
      color: #{color('white')};
      font-family: $franklin;

      font-size: 34px;
      font-weight: normal;
      line-height: 44px;

      @media(max-width: 991px) {
        font-size: 25px;
        line-height: 37px;
      }
    }

    p {

      width: 80%;
      margin-top: 35px;
      color: #{theme-color-level('primary', -8)};

      font-size: 15px;
      line-height: 24px;

      @media(max-width: 767px) {
        width: 100%;
      }
    }

    .cta {
      margin-top: 55px;

      @media(max-width: 767px) {
        margin-top: 40px;
      }

      .btn-primary {

        padding: 17px 32px;
        border: 1px solid #{theme-color-level('primary', -5)};
        background-color: #{theme-color-level('primary', -5)};
        font-size: 13px;
        font-weight: 600;
        transition: all .15s linear;
        letter-spacing: .5px;
        text-transform: uppercase;

        &:hover {
          background-color: #{theme-color-level('primary', -5)};
        }

        &:active {
          transform: scale(0.93);
        }
      }

      .btn-outline {

        margin-left: 30px;

        padding: 15px 29px;
        border: 2px solid #{color('white')};

        border-radius: 45px;
        color: #{theme-color-level('primary', -9)};

        font-size: 12px;
        font-weight: 600;
        transition: all .15s linear;
        letter-spacing: .5px;
        text-decoration: none;
        text-transform: uppercase;

        @media(max-width: 767px) {
          margin-left: 15px;
        }

        &:hover {
          background: #{color('white')};
          color: #{theme-color-level('dark', -1)};

          .fa-play {
            color: #{theme-color-level('dark', -1)};
          }
        }

        &:active {
          position: relative;
          top: 1px;
        }

        .fa-play {
          margin-right: 9px;
          color: #{theme-color-level('primary', -9)};
          transition: all .15s linear;
        }
      }
    }

    .mobile-pic {
      position: absolute;
      top: -30px;
      right: 80px;
      animation-delay: .4s;

      @media(max-width: 991px) {
        top: 0;
        right: 10px;
        width: 70%;
      }
    }
  }
}

.index-intro {
  margin-top: 140px;

  @media(max-width: 767px) {
    margin-top: 80px;
  }

  header {
    position: relative;

    &:after {

      position: absolute;
      right: 0;
      bottom: -50px;

      left: 0;
      width: 85%;

      height: 1px;
      margin: auto;
      background: #{theme-color-level('light', -9)};
      content: '';
    }

    h3 {
      color: #{theme-color-level('dark', -3)};
      text-align: center;
      font-size: 26px;
      font-weight: normal;
    }

    p {

      width: 75%;
      margin: 0 auto;
      margin-top: 25px;
      color: #{theme-color-level('light', 5)};
      text-align: center;
      font-size: 15px;
      line-height: 25px;
    }
  }

  section {
    width: 85%;
    margin: auto;
    margin-top: 90px;

    h4 {

      margin-top: 7px;
      color: #{theme-color-level('info', 2)};
      font-size: 18px;
      line-height: 25px;

      @media(max-width: 767px) {
        text-align: center;
      }
    }

    p {

      width: 90%;
      margin-top: 17px;
      color: #{theme-color-level('dark', -3)};
      line-height: 24px;

      @media(max-width: 767px) {
        width: 100%;
        margin-bottom: 35px;
        text-align: center;
      }
    }
  }
}

.index-features {
  margin-top: 120px;

  padding: 70px 0 40px;
  border-top: 1px solid #{theme-color-level('light', -8)};
  border-bottom: 1px solid #{theme-color-level('light', -8)};
  background: #{gray('100')};

  header {
    position: relative;

    &:after {
      position: absolute;
      right: 0;
      bottom: -50px;
      left: 0;
      width: 87%;
      height: 1px;
      margin: auto;
      background: #{theme-color-level('light', -9)};
      content: '';
    }

    h3 {
      color: #{theme-color-level('dark', -3)};
      text-align: center;
      font-size: 26px;
      font-weight: normal;

      @media(max-width: 767px) {
        font-size: 23px;
      }
    }

    p {
      width: 75%;
      margin: 0 auto;
      margin-top: 30px;
      color: #{theme-color-level('light', 5)};
      text-align: center;
      font-size: 15px;
      line-height: 25px;
    }
  }

  .features {
    width: 88%;
    margin: auto;
    margin-top: 110px;

    .icon {
      @media(min-width: 992px) {
        margin-right: 20px;
      }
    }

    .feature {
      margin-bottom: 70px;

      @media(max-width: 767px) {
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }
    }

    section {
      width: 83%;
      float: right;

      @media(max-width: 991px) {
        width: 100%;
        margin-top: 20px;
        float: none;
      }

      h4 {
        margin-top: 0;
        color: #{theme-color-level('secondary', 3)};
        font-size: 17px;
      }

      p {
        width: 95%;
        margin-top: 18px;
        color: #{theme-color-level('light', 5)};
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
}

.index-devices {
  padding-top: 140px;
  overflow-x: hidden;

  @media(max-width: 767px) {
    padding-top: 80px;
    text-align: center;
  }

  > section {

    position: relative;
    width: 850px;

    min-height: 473px;
    margin: 0 auto;

    @media(max-width: 991px) {
      width: auto;
      padding: 0 30px;
    }

    @media(max-width: 767px) {
      min-height: auto;
    }
  }

  .devices {
    position: absolute;
    top: -15px;
    left: 430px;

    @media(max-width: 767px) {
      display: none;
    }
  }

  h4 {

    margin-bottom: 25px;
    color: #{theme-color-level('info', 1)};
    font-size: 24px;
    font-weight: normal;
  }

  p {
    width: 300px;
    margin-bottom: 25px;
    color: #{theme-color-level('light', 5)};
    line-height: 24px;

    @media(max-width: 767px) {
      width: auto;
    }
  }

  .icons {
    i {

      margin-right: 20px;
      color: #{theme-color-level('primary', -8)};
    }

    .ion-monitor {
      font-size: 44px;
    }

    .ion-ipad {
      font-size: 38px;
    }

    .ion-iphone {
      font-size: 32px;
    }
  }
}

.index-browsers {
  margin-top: 130px;

  @media(max-width: 767px) {
    margin-top: 90px;
  }

  header {
    position: relative;

    h3 {
      color: #{theme-color-level('dark', -3)};
      text-align: center;
      font-size: 25px;
      font-weight: normal;
    }

    p {

      width: 75%;
      margin: 0 auto;
      margin-top: 12px;
      color: #{theme-color-level('light', 5)};
      text-align: center;
      font-size: 15px;
      line-height: 25px;
    }
  }

  section {
    margin-top: 75px;

    @media(max-width: 767px) {
      margin-top: 40px;
    }

    .img-fluid {
      @media(max-width: 767px) {
        margin: 0 auto;
      }
    }

    .info {
      padding-left: 50px;

      @media(max-width: 991px) {
        padding-left: 20px;
      }

      @media(max-width: 767px) {

        margin-top: 45px;
        padding-left: 0;
        text-align: center;
      }
    }

    h4 {

      margin-top: 20px;
      margin-bottom: 27px;
      color: #{theme-color-level('dark', -3)};
      font-size: 18px;

      .badge {
        position: relative;
        top: -7px;
        margin-left: 5px;
        padding: 3px 8px;
        font-size: 12px;
      }
    }

    p {
      width: 80%;
      margin-bottom: 20px;
      color: #{theme-color-level('dark', -3)};

      font-size: 15px;
      line-height: 24px;

      @media(max-width: 991px) {
        width: 100%;
      }
    }

    .btn-rounded {
      display: inline-block;
      margin-top: 17px;

      padding: 10px 16px 9px;
      border: 1px solid #{theme-color-level('primary', -3)};
      border-radius: 25px;
      font-size: 12px;

      font-weight: 600;
      transition: all .2s linear;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        i {
          margin-left: 15px;
        }
      }

      i {
        margin-left: 7px;
        transition: all .2s linear;
      }
    }
  }
}

.index-clients {
  margin-top: 200px;
  text-align: center;

  @media(max-width: 767px) {
    margin-top: 110px;
  }

  header {

    position: relative;
    margin-bottom: 30px;
    font-size: 18px;

    &:before {
      position: absolute;
      top: 11px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #{theme-color-level('light', -9)};
      content: '';
    }

    h4 {
      display: inline-block;
      position: relative;
      top: -8px;
      padding: 0 40px;
      background: #{color('white')};
      color: #{theme-color-level('secondary', -5)};
      font-size: 13px;
      font-weight: 600;
      word-spacing: 1.6px;
      letter-spacing: 1.8px;
      line-height: 24px;
      text-transform: uppercase;
    }
  }

  .img-responsive {
    margin: 0 auto;
  }
}
