.scrollspy-enabled {
  position: relative;
}

.index-features-header {

  position: relative;
  min-height: 570px;
  background: url('#{$imagesPath}/unsplash/photo-1479243396208-be1751535cdb.jpg');
  background-position: center center;
  background-size: cover;

  @media(max-width: 767px) {
    min-height: 540px;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(58, 71, 90, 0.85);
    content: '';
  }

  section {
    position: relative;
    padding: 200px 20px 0;
    z-index: 9;

    @media(max-width: 767px) {
      padding-top: 140px;
    }

    > h1 {
      position: relative;
      color: #{color('white')};
      text-align: center;
      font-size: 30px;
      line-height: 46px;

      @media(max-width: 767px) {
        font-size: 27px;
        line-height: 40px;
      }
    }

    > p {
      position: relative;
      color: #{theme-color-level('secondary', -8)};
      text-align: center;
      font-size: 16px;
      animation-delay: .2s;
    }

    .cta {
      margin-top: 50px;
      text-align: center;
    }
  }
}

.index-features-nav {
  height: 85px;

  .features {

    border-bottom: 1px solid #{theme-color-level('light', -8)};
    text-align: center;

    &.fixed {
      position: fixed;
      top: 0;
      width: 100%;
      background: #{color('white')};
      animation-duration: .5s;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      z-index: 9999;
    }

    li {
      display: inline-block;

      &:nth-child(1) a {
        animation-delay: .35s;
      }

      &:nth-child(2) a {
        animation-delay: .5s;
      }

      &:nth-child(3) a {
        animation-delay: .65s;
      }

      &:nth-child(4) a {
        animation-delay: .8s;
      }
    }

    .nav-link {
      display: inline-block;
      position: relative;
      width: 180px;
      height: 85px;
      margin: 0 10px;
      padding: 32px 0;
      color: #{theme-color-level('dark', -1)};
      font-size: 15px;
      overflow: hidden;
      vertical-align: top;

      @media(max-width: 991px) {
        width: 150px;
        font-size: 14px;
      }

      &.active {
        color: #{theme-color-level('warning', 1)};

        &:after {
          bottom: 0;
          background: #{theme-color-level('warning', -1)};
        }
      }

      &:after {
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        transition: all .15s linear;
        content: '';
      }

      &:hover,
      &:focus {
        opacity: 1;
        background: none;

        &:after {
          bottom: 0;
          background: #{theme-color-level('warning', -7)};
        }
      }
    }
  }
}

.index-features-friends {
  padding-top: 130px;
  overflow-x: hidden;

  @media(max-width: 767px) {
    padding-top: 60px;
    text-align: center;
  }

  section {

    position: relative;
    width: 850px;

    min-height: 473px;
    margin: 0 auto;

    @media(max-width: 991px) {
      width: auto;
      padding: 0 30px;
    }

    @media(max-width: 767px) {
      min-height: auto;
    }
  }

  img.browser {
    position: absolute;
    top: -15px;
    left: 450px;

    @media(max-width: 767px) {
      position: relative;
      top: 0;
      left: 0;
      max-width: 100%;
      margin-bottom: 40px;
    }
  }

  .info {
    width: 330px;

    @media(max-width: 767px) {
      width: auto;
    }
  }

  h3 {
    color: #{theme-color-level('info', 1)};
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 17px;
    text-transform: uppercase;
  }

  h4 {

    margin-top: 15px;
    color: #{theme-color-level('light', 7)};
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 36px;
  }

  p {

    margin-top: 30px;
    color: #{theme-color-level('secondary', -2)};
    font-size: 15px;
    line-height: 27px;
  }
}

.index-features-camera {
  margin-top: 110px;
  padding-top: 70px;
  border-top: 1px solid #{theme-color-level('light', -9)};
  border-bottom: 1px solid #{theme-color-level('light', -9)};
  text-align: center;

  @media(max-width: 767px) {
    margin-top: 80px;
  }

  h3 {
    color: #{theme-color-level('info', 1)};
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 17px;
    text-transform: uppercase;
  }

  h4 {

    width: 550px;
    margin: auto;
    margin-top: 15px;
    color: #{theme-color-level('light', 7)};
    font-size: 27px;
    font-weight: 300;
    line-height: 37px;

    @media(max-width: 767px) {
      width: auto;
      padding: 0 20px;
    }
  }

  .pic {
    margin-top: 60px;

    img {
      margin: 0 auto;
    }
  }
}

.index-features-user {
  padding-top: 140px;

  @media(max-width: 767px) {
    padding-top: 100px;
  }

  header {
    text-align: center;

    h3 {
      color: #{theme-color-level('info', 1)};
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 2px;
      line-height: 17px;
      text-transform: uppercase;
    }

    h4 {

      width: 620px;
      margin: auto;
      margin-top: 15px;
      color: #{theme-color-level('light', 7)};
      font-size: 26px;
      font-weight: 300;
      line-height: 37px;

      @media(max-width: 767px) {
        width: auto;
        padding: 0 20px;
      }
    }
  }

  section {

    position: relative;
    width: 850px;
    margin: 0 auto;
    margin-top: 150px;

    @media(max-width: 991px) {
      width: auto;
      margin-top: 60px;
      padding: 0 30px;
    }

    @media(max-width: 767px) {
      text-align: center;
    }

    .devices {
      position: relative;
      top: -80px;

      @media(max-width: 991px) {
        top: 0;
        width: 300px;
      }

      @media(max-width: 767px) {
        max-width: 100%;
        margin-bottom: 30px;
        float: none !important;
      }
    }

    h4 {
      margin-top: 10px;
      margin-bottom: 25px;
      color: #{theme-color-level('info', 1)};
      font-size: 23px;
      font-weight: normal;

      @media(max-width: 991px) {
        font-size: 21px;
      }
    }

    p {
      width: 300px;
      margin-bottom: 25px;
      color: #{theme-color-level('light', 5)};
      font-size: 15px;
      line-height: 23px;

      @media(max-width: 767px) {
        width: auto;
      }
    }

    .icons {
      i {
        margin-right: 20px;
        color: #{theme-color-level('primary', -8)};
      }

      .ion-monitor {
        font-size: 44px;
      }

      .ion-ipad {
        font-size: 38px;
      }

      .ion-iphone {
        font-size: 32px;
      }
    }
  }
}

.index-features-files {
  padding-top: 90px;

  .container2 {

    width: 100%;
    border-top: 1px solid #{gray('200')};
    clear: left;
    float: left;
    overflow: hidden;

    .container1 {
      position: relative;
      right: 50%;
      width: 100%;
      border-right: 1px solid #{gray('200')};
      background: #{gray('100')};
      float: left;

      @media(max-width: 991px) {
        right: auto;
      }
    }
  }

  .col-left {

    position: relative;
    left: 50%;
    width: 50%;
    padding: 78px 50px 0;
    float: left;
    overflow: hidden;

    @media(max-width: 991px) {
      left: 0;
      width: 100%;
      padding: 60px 70px 0;
    }

    @media(max-width: 767px) {
      padding: 50px 30px 0;
    }

    .features {
      width: 400px;
      float: right;

      @media(max-width: 991px) {
        width: auto;
        float: none;
      }

      .feature {
        margin-bottom: 30px;
      }

      .image, .info {
        float: left;

        @media(max-width: 767px) {
          float: none;
        }
      }

      .info {
        width: 80%;
        margin-left: 40px;

        @media(max-width: 767px) {
          width: auto;
          margin-top: 20px;
          margin-left: 0;
        }

        strong {
          color: #{theme-color-level('dark', -2)};
          font-size: 14px;
          font-weight: 600;
          letter-spacing: .5px;
          text-transform: uppercase;
        }

        p {
          width: 90%;
          margin-top: 12px;
          color: #{gray('600')};
          line-height: 24px;
        }
      }
    }
  }

  .col-right {

    position: relative;
    left: 50%;
    width: 50%;
    padding: 50px 70px 70px;
    float: left;
    overflow: hidden;

    @media(max-width: 991px) {
      left: 0;
      width: 100%;
    }

    @media(max-width: 767px) {
      padding: 30px;
    }

    .info {
      width: 340px;

      @media(max-width: 991px) {
        width: auto;
      }
    }

    h3 {
      margin-top: 20px;
      color: #{theme-color-level('info', 1)};
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 2px;
      line-height: 17px;
      text-transform: uppercase;
    }

    h4 {
      margin-top: 15px;
      color: #{theme-color-level('light', 7)};
      font-size: 27px;
      font-weight: 300;
      line-height: 37px;
    }

    p {
      margin-top: 30px;
      color: #{theme-color-level('secondary', -2)};
      font-size: 15px;
      line-height: 27px;
    }
  }
}

.index-features-cta {

  padding: 60px 0;
  background: #{theme-color-level('secondary', 2)};
  text-align: center;

  .info {
    display: inline-block;
    margin-right: 80px;
    text-align: left;

    @media(max-width: 767px) {
      display: block;
      margin-right: 0;
      margin-bottom: 25px;
      text-align: center;
    }

    strong {
      display: block;
      color: #{color('white')};
      font-size: 18px;
      font-weight: 600;
      text-shadow: 1px 1px #{theme-color-level('secondary', 2)};
    }

    p {
      margin-top: 6px;
      color: #{theme-color-level('primary', -10)};
      font-size: 16px;
    }
  }

  a {
    display: inline-block;
    padding: 17px 32px;
    border-radius: 6px;
    background-image: linear-gradient(-179deg, #{color('white')} 0, #{gray('200')} 100%);
    color: #{theme-color-level('info', 3)};

    font-size: 15px;
    font-weight: 600;
    transition: all .2s linear;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,0.32);
    letter-spacing: .3px;
    line-height: 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.72);
    vertical-align: top;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px, inset rgba(255, 255, 255, 0.88) 0 1px 3px -1px, rgba(0, 0, 0, 0.3) 0 1px 2px, #{theme-color-level('primary', -10)} 0 1px 30px;
    }
  }
}

.index-features-footer {
  position: relative;
  padding: 70px 0 90px;

  @media(max-width: 767px) {
    padding: 30px 0 50px;
  }

  .links {
    text-align: center;

    a {
      display: inline-block;
      margin: 0 33px;
      color: #{theme-color-level('secondary', -3)};

      font-size: 16px;

      @media(max-width: 767px) {
        display: block;
        margin: 20px 0;
      }
    }
  }

  .bottom {
    margin-top: 45px;
    text-align: center;

    span {
      display: inline-block;
      margin: 0 25px;
      color: #{theme-color-level('secondary', -3)};

      @media(max-width: 767px) {
        display: block;
        margin: 20px 0;
      }

      a {
        color: #{theme-color-level('primary', -4)};
      }
    }
  }
}
