.spacial-header {
  min-height: 780px;
  background-image: radial-gradient(70% at 40%, #{theme-color-level('primary', 4)} 15%, #{theme-color-level('primary', 7)} 100%);

  section {
    padding-top: 180px;

    @media(max-width: 991px) {
      padding-top: 150px;
    }

    @media(max-width: 767px) {

      padding-top: 100px;
      text-align: center;
    }

    .left-col {
      @media(min-width: 768px) {
        padding-left: 45px;
      }
    }

    h1 {
      color: #{color('white')};
      text-align: center;
      font-family: $franklin;
      font-size: 31px;
      letter-spacing: .8px;

      @media(max-width: 767px) {
        font-size: 27px;
        line-height: 35px;
      }
    }

    .mobile-pic {
      position: absolute;
      top: 50px;
      right: 30px;
    }

    .mobile-icon {
      margin-top: 100px;

      @media(max-width: 767px) {
        margin-top: 60px;
      }
    }

    h2 {

      margin-top: 52px;
      color: #{color('white')};
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.8px;
    }

    p {

      width: 80%;
      margin-top: 20px;
      color: #{color('white')};
      font-size: 15px;

      @media(max-width: 767px) {
        width: auto;
      }
    }

    a {
      display: inline-block;
      margin-top: 30px;

      padding: 14px 30px;
      border: 2px solid #{theme-color-level('primary', 3)};

      border-radius: 3px;
      color: #{color('white')};
      font-size: 12px;
      font-weight: 600;
      transition: all .2s;
      letter-spacing: 0.8px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        border-color: #{theme-color-level('primary', -2)};
        background: #{theme-color-level('primary', -2)};
        color: #{color('white')};
      }

      &:active {
        transform: scale(0.93);
      }
    }
  }
}

.spacial-intro {
  margin-top: 230px;
  margin-bottom: 150px;

  @media(max-width: 991px) {
    margin-bottom: 110px;
  }

  @media(max-width: 767px) {
    margin-top: 100px;
  }

  > section {

    position: relative;
    min-height: 473px;
    text-align: center;

    @media(max-width: 991px) {
      min-height: auto;
    }

    @media(max-width: 767px) {
      padding: 0 20px;
    }
  }

  h2 {
    width: 270px;
    margin: 0 auto;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: .3px;
    line-height: 36px;

    @media(max-width: 767px) {
      width: auto;
      font-size: 23px;
    }
  }

  p {

    width: 350px;
    margin: 40px auto 0;
    color: #{theme-color-level('info', 5)};

    font-size: 15px;
    letter-spacing: .3px;
    line-height: 26px;

    @media(max-width: 767px) {
      width: auto;
    }
  }

  a {
    display: inline-block;
    margin-top: 90px;
    border-radius: 7px;
    transition: all .15s linear;

    @media(max-width: 991px) {
      margin-top: 60px;
    }

    &:hover {

      transform: translateY(-3px);
      box-shadow: rgba(0, 0, 0, 0.17) 0 1px 2px, rgba(112, 139, 232, 0.3) 0 10px 15px;
    }
  }

  span {
    display: block;
    opacity: .7;
    margin-top: 15px;
    color: #{gray('600')};

    font-weight: 500;
  }

  .pic-left {
    position: absolute;
    top: -60px;
    left: 0;

    @media(max-width: 991px) {
      top: -20px;
      width: 180px;
    }

    @media(max-width: 767px) {
      display: none;
    }
  }

  .pic-right {
    position: absolute;
    top: -60px;
    right: 30px;

    @media(max-width: 991px) {
      top: -20px;
      right: 0;
      width: 170px;
    }

    @media(max-width: 767px) {
      display: none;
    }
  }
}

.spacial-features {
  margin-top: 110px;

  @media(max-width: 767px) {
    margin-top: 60px;
  }

  .header {
    text-align: center;

    h2 {
      font-size: 26px;

      font-weight: normal;
      letter-spacing: .1px;

      @media(max-width: 767px) {
        font-size: 23px;
      }
    }

    p {

      margin-top: 15px;
      color: #{theme-color-level('info', 5)};

      font-size: 16px;

      @media(max-width: 767px) {
        font-size: 15px;
      }
    }
  }

  .feature {
    margin-top: 50px;

    @media(max-width: 767px) {
      text-align: center;
    }

    h3 {

      margin-top: 20px;
      color: #{theme-color-level('primary', 6)};
      font-size: 18px;

      .badge-new {
        position: relative;
        top: -3px;
        left: 7px;
        padding: 3px 8px;
        border-radius: 4px;
        background-image: linear-gradient(-90deg, #{theme-color-level('primary', -1)} 0, #{color('blue')} 100%);
        color: #{color('white')};
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }
    }

    p {

      width: 87%;
      margin-top: 15px;
      color: #{theme-color-level('secondary', -1)};

      font-size: 15px;
      line-height: 25px;

      @media(max-width: 767px) {
        width: auto;
      }
    }
  }
}

.spacial-cta-download {
  margin-top: 110px;

  padding: 150px 0;
  background: url('#{$imagesPath}/graphics/spacial-bg.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;

  @media(max-width: 991px) {
    padding: 90px 20px;
  }

  @media(max-width: 767px) {
    padding: 70px 20px;
  }

  h2 {
    color: #{color('white')};
    font-size: 34px;
    letter-spacing: .5px;

    @media(max-width: 767px) {
      font-size: 28px;
    }
  }

  p {
    width: 42%;
    margin: 0 auto;
    margin-top: 40px;
    color: #{color('white')};
    font-size: 16px;
    line-height: 27px;

    @media(max-width: 991px) {
      width: 80%;
    }

    @media(max-width: 767px) {
      width: auto;
    }
  }

  a {
    display: inline-block;
    margin-top: 80px;
    padding: 20px 40px;
    border-radius: 3px;
    background: #{color('purple')};
    color: #{color('white')};
    font-size: 13px;
    font-weight: 600;
    transition: all .3s;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

    @media(max-width: 767px) {
      margin-top: 50px;
    }

    &:hover {
      background: #{theme-color('primary')};
      box-shadow: 0 4px 18px 3px rgba(0, 0, 0, 0.42);
    }
  }
}

.spacial-app-store {
  margin-top: 140px;

  @media(max-width: 991px) {
    margin-top: 100px;
  }

  section {
    @media(max-width: 991px) {
      text-align: center;
    }

    span {
      display: inline-block;
      color: #{theme-color-level('secondary', 1)};

      font-size: 15px;
      font-weight: 500;
    }

    h1 {

      margin-top: 10px;
      color: #{theme-color-level('info', 9)};
      font-size: 28px;

      font-weight: normal;
      line-height: 46px;

      @media(max-width: 767px) {
        font-size: 25px;
        line-height: 35px;
      }
    }

    p {

      width: 80%;
      margin-top: 20px;
      color: #{theme-color-level('secondary', -2)};

      font-size: 15px;
      line-height: 25px;

      @media(max-width: 991px) {
        width: auto;
      }

      a {
        display: block;
        margin-top: 15px;
        text-decoration: none;
      }
    }

    .cta {
      display: inline-block;
      margin-top: 35px;
      border-radius: 6px;
      transition: all .2s linear;

      &:hover {
        box-shadow: rgba(112, 139, 232, 0.15) 0 6px 20px;
      }
    }

    .mobile-pic {
      position: absolute;
      top: 10px;
      right: -40px;

      @media(max-width: 1199px) {
        top: 20px;
        right: 0;
        width: 500px;
      }
    }
  }
}

@keyframes slide-quote {
  0% {
    transform: scaleY(1.4) translateY(80px);
  }
}

.spacial-client-quotes {
  margin-top: 160px;
  text-align: center;

  @media(max-width: 991px) {
    margin-top: 110px;
  }

  @media(max-width: 767px) {
    margin-top: 80px;
  }

  h2 {
    color: #{theme-color('secondary')};

    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .client-quotes {

    height: 240px;
    margin-top: 40px;

    @media(max-width: 767px) {
      height: 260px;
    }

    .client-quote {
      opacity: 0;
      position: absolute;
      right: 0;
      left: 0;
      transition: opacity .4s;

      &.active {
        opacity: 1;
        animation: slide-quote .8s cubic-bezier(.2,.6,.3,1);
        z-index: 10;
      }

      .quote {
        width: 620px;
        margin: 0 auto;
        color: #{theme-color-level('secondary', 3)};
        font-size: 21px;
        line-height: 37px;

        @media(max-width: 767px) {
          width: auto;
          padding: 0 30px;
          font-size: 17px;
          line-height: 34px;
        }
      }

      .author {
        margin-top: 35px;
        font-size: 17px;

        .name {
          color: #{theme-color-level('secondary', 3)};
        }

        .role {
          margin-left: 6px;
          color: #{theme-color-level('primary', -7)};
        }
      }
    }
  }

  .client-pictures {
    margin-top: 15px;

    .client-picture {
      display: inline-block;

      &:hover,
      &.active {
        img {

          transform: scale3d(.8, .8 ,.8) translateY(-5px);
          box-shadow: 0 20px 35px rgba(0,0,0,.3);

          @media(max-width: 767px) {
            transform: scale3d(.7, .7 ,.7) translateY(-5px);
          }
        }
      }

      img {
        border-radius: 100px;
        transform: scale3d(.65, .65 ,.65);
        transition: all .2s ease-out;
        cursor: pointer;

        @media(max-width: 991px) {
          max-width: 100px;
        }
      }
    }
  }
}
