.homepage-hero-module {

  position: relative;
  height: 100vh;
  border-right: none;
  border-left: none;

  .video-container {
    width: 100%;
    height: 100%;
    background: #{theme-color-level('dark', 6)};
    overflow: hidden;

    .video {
      position: relative;
      height: 100%;
      background: transparent;
    }

    .ytplayer-container {
      position: absolute;
      top: 0;
      z-index: -1;
    }

    .ytplayer-shield {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(64, 76, 93, 0.65);
      z-index: 2;
    }
  }
}

.homepage-hero-content {
  position: absolute;

  top: calc(50% - 140px);
  right: 0;

  left: 0;
  color: #{color('white')};

  text-align: center;
  z-index: 99;

  @media(max-width: 767px) {
    top: 25%;
  }

  h2 {
    font-size: 45px;
    font-weight: normal;
    animation-delay: .1s;
    letter-spacing: .3px;

    @media(max-width: 991px) {
      font-size: 40px;
    }

    @media(max-width: 767px) {
      padding: 0 20px;
      font-size: 33px;
      line-height: 45px;
    }
  }

  p {
    width: 50%;
    margin: 25px auto 0;
    font-size: 17px;
    animation-delay: .6s;

    @media(max-width: 991px) {
      width: 70%;
    }

    @media(max-width: 767px) {
      width: 90%;
      font-size: 15px;
    }
  }

  a.btn-cta {
    display: inline-block;
    margin-top: 45px;
    padding: 11px 29px;
    border: 2px solid #{color('white')};
    border-radius: 50px;
    background: #{color('white')};
    color: #{theme-color-level('dark', -1)};
    font-weight: 600;
    transition: all .2s;
    animation-delay: .6s;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background: transparent;
      color: #{color('white')};
    }
  }
}

.index-video-intro {

  position: relative;
  margin-top: 70px;

  .bg-text {
    position: absolute;
    top: 0;
    left: 10px;
    color: #{theme-color-level('light', -10)};
    font-family: $sourceSans;
    font-size: 110px;
    font-weight: 600;
    letter-spacing: -2px;

    @media(max-width: 991px) {
      font-size: 70px;
    }
  }

  .index-video-title {
    margin-top: 90px;
    margin-bottom: 50px;

    @media(max-width: 991px) {
      margin-top: 60px;
    }

    h3 {
      width: 45%;
      margin: 0;
      font-weight: 600;
      float: left;
      line-height: 31px;

      @media(max-width: 767px) {
        width: 100%;
      }
    }

    p {
      width: 45%;
      margin: 0;
      color: #{theme-color-level('light', 5)};
      font-size: 15px;
      float: right;
      line-height: 24px;

      @media(max-width: 767px) {
        width: 100%;
        margin-top: 20px;
      }
    }
  }

  .img-bg {
    display: block;
    position: relative;
    height: 420px;
    background-position: center center;
    background-size: cover;
    transition: all .2s ease-out;
    text-decoration: none;

    @media(max-width: 991px) {
      height: 330px;
    }

    @media(max-width: 767px) {
      margin-bottom: 25px;
    }

    &:hover {
      transform: scale3d(1.04, 1.04, 1.04);
      box-shadow: 0 40px 40px rgba(0,0,0,.25);
    }

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(255, 255, 255, 0) 60%, rgba(36, 43, 60, 0.89) 100%);
      content: '';
    }

    p {
      position: absolute;
      right: 0;
      bottom: 15px;
      left: 0;
      color: #{color('white')};
      text-align: center;
      font-size: 23px;
      font-weight: 500;
      z-index: 9;

      span {
        display: block;
        color: rgba(255, 255, 255, 0.65);
        font-family: $georgia;
        font-size: 15px;
        font-weight: normal;
      }
    }
  }
}

.index-video-feature {

  position: relative;
  margin-top: 110px;
  padding-top: 70px;

  @media(max-width: 991px) {
    margin-top: 80px;
    padding-top: 50px;
  }

  .bg-text {
    position: absolute;
    top: 0;
    right: 10px;
    color: #{theme-color-level('light', -10)};
    font-family: $sourceSans;
    font-size: 110px;
    font-weight: 600;
    letter-spacing: -2px;
    z-index: -1;

    @media(max-width: 991px) {
      font-size: 70px;
    }
  }

  .index-video-title {
    width: 33%;
    margin-left: 37%;
    font-weight: 600;
    line-height: 32px;

    @media(max-width: 1199px) {
      width: 50%;
      margin: 20px auto 0;
      text-align: center;
    }

    @media(max-width: 991px) {
      width: 90%;
    }
  }

  .gallery {
    p {
      width: 70%;
      margin: 10px auto 50px;
      color: #{theme-color-level('dark', -3)};
      text-align: center;
      font-size: 15px;
      line-height: 23px;

      @media(max-width: 991px) {
        width: 90%;
      }
    }

    .bg-img {
      width: 100%;
      background-position: center center;
      background-size: cover;

      @media(max-width: 767px) {
        height: 210px !important;
        margin-bottom: 25px !important;
      }
    }

    .col-md-3 {
      .bg-img {
        height: 210px;
        margin-bottom: 25px;

        & + .bg-img {
          margin-bottom: 0;
        }
      }
    }

    .col-md-6 {
      .bg-img {
        height: 445px;
      }
    }
  }
}

.index-video-scroll {

  position: relative;
  margin-top: 80px;
  margin-bottom: -60px;

  .bg-text {
    position: absolute;
    top: 0;
    left: 10px;
    color: #{theme-color-level('light', -10)};
    font-family: $sourceSans;
    font-size: 110px;
    font-weight: 600;
    letter-spacing: -2px;

    @media(max-width: 991px) {
      font-size: 70px;
    }
  }

  .index-scroll-title {
    position: absolute;
    top: 70px;
    left: 25%;
    width: 33%;
    font-weight: 600;
    line-height: 32px;

    @media(max-width: 991px) {
      top: 40px;
      left: 0;
      width: 100%;
      padding: 0 20px;
      text-align: center;
    }
  }

  .scroll-wrapper {
    padding-top: 200px;
    overflow: hidden;

    @media(max-width: 991px) {
      padding-top: 150px;
    }

    @media(max-width: 767px) {
      padding-top: 170px;
    }

    .holder {
      height: 430px;
      overflow: hidden;
    }

    .wrap {
      width: 100%;
      overflow-x: auto;
      overflow-y: visible;
    }

    .item {
      display: inline-block;
      width: 270px;
      margin: 3px 3px 90px;

      @media(max-width: 767px) {
        width: 250px;
      }

      &:first-child {
        margin-left: 280px;

        @media(max-width: 991px) {
          margin-left: 180px;
        }

        @media(max-width: 767px) {
          margin-left: 50px;
        }
      }

      .img-bg {
        display: block;
        position: relative;
        height: 370px;
        background-position: center center;
        background-size: cover;
        transition: all .2s ease-out;
        text-decoration: none;

        @media(max-width: 991px) {
          height: 330px;
        }

        @media(max-width: 767px) {
          height: 300px;
        }

        &:hover {
          box-shadow: 0 20px 35px rgba(0,0,0,.2);
        }

        &:after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(rgba(255, 255, 255, 0) 60%, rgba(36, 43, 60, 0.89) 100%);
          content: '';
        }
      }

      p {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
