.pricing-comparison-section {

  margin-top: 50px;
  overflow-x: scroll;

  .main-header {
    margin-top: 30px;
    text-align: center;

    h3 {
      color: #{theme-color-level('dark', -2)};
      font-size: 24px;
      font-weight: 500;
      line-height: 25px;
    }

    p {
      color: #{theme-color-level('dark', -6)};
      font-size: 16px;
      font-weight: normal;
    }
  }

  .chart {
    min-width: 930px;
    margin-top: 60px;
    border: 1px solid #{theme-color-level('light', -8)};
    border-radius: 3px;

    @media(max-width: 991px) {
      margin-right: 50px;
    }

    .header {
      padding: 13px 0;
      border-bottom: 1px solid #{theme-color-level('light', -8)};
      background: #{color('white')};
      color: #{theme-color-level('dark', -2)};
      text-align: center;
      font-size: 18px;
      font-weight: 500;

      .price {
        position: relative;
        top: 3px;
        color: #{theme-color-level('primary', -1)};
        font-size: 14px;
      }
    }

    .features-col {
      width: 40%;

      .header {
        height: 75px;
        margin-bottom: 30px;
        padding: 23px 30px;
        border-radius: 3px 3px 0 0;
        text-align: left;
        font-size: 18px;
      }

      .spec {
        position: relative;
        margin-bottom: 32px;
        padding-left: 70px;
        font-size: 15px;

        .icon {
          position: absolute;
          left: 23px;
          color: #{theme-color-level('primary', -8)};
          font-size: 21px;
        }
      }
    }

    .plan-col {
      width: 20%;
      border-left: 1px solid #{theme-color-level('light', -8)};

      &.last {
        .header {
          border-radius: 0 3px 0 0;
        }
      }

      .spec {
        margin-top: 33px;

        .check {
          display: block;
          max-width: 20px;
          margin: 0 auto;
        }
      }

      .btn-shadow {
        margin-bottom: 20px;
      }
    }
  }

  .message {
    margin-top: 30px;
    color: #{theme-color-level('light', 5)};
    text-align: center;
    font-size: 14px;
  }
}

.pricing-tabs-section {
  margin-top: 90px;

  .divider {

    position: relative;
    width: 100%;
    height: 1px;
    margin: 100px 0 80px;
    background-color: #{theme-color-level('light', -8)};

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75) 0, rgba(250,250,250,0) 50%, rgba(255, 255, 255, 0.75) 100%);
      content: '';
    }
  }

  .header {
    text-align: center;

    h3 {
      color: #{theme-color-level('dark', -2)};
      font-size: 24px;
      font-weight: 500;
      line-height: 25px;
    }

    p {
      color: #{theme-color-level('dark', -6)};
      font-size: 16px;
      font-weight: normal;
    }
  }

  .tabs {

    margin-top: 40px;
    border-radius: 3px;
    background: #{gray('100')};
    text-align: center;

    .tab {
      display: inline-block;
      margin-top: 10px;
      padding: 18px 25px;
      background-color: #{gray('100')};
      color: #{theme-color-level('dark', -3)};
      font-weight: 500;
      transition: background-color 0.2s linear;
      cursor: pointer;

      &.anually {
        padding: 18px 18px 18px 23px;
      }

      &.active {
        border: 1px solid #{theme-color-level('light', -9)};
        border-radius: 5px 5px 0 0;
        border-bottom: 0;
        background-color: #{color('white')};
      }

      span {
        position: relative;
        top: -2px;
      }

      small {
        margin-left: 3px;
        color: #{theme-color-level('info', 1)};
      }
    }
  }

  .plans {
    margin-top: 40px;
    border: 1px solid #{theme-color-level('light', -8)};
    border-radius: 5px;

    .plan {

      min-height: 220px;
      border-right: 0;
      text-align: center;

      &:first-child {
        padding-right: 0;
      }

      &:last-child {
        padding-left: 0;
      }

      &.middle {
        padding: 0;
        border-right: 1px solid #{theme-color-level('light', -8)};
        border-left: 1px solid #{theme-color-level('light', -8)};
      }

      .header {
        padding: 22px 25px 18px;
        border-bottom: 1px solid #{theme-color-level('light', -8)};
        text-align: center;
        font-size: 15px;
        font-weight: 500;

        .icon {
          position: relative;
          top: 2px;
          left: -4px;
          color: #{theme-color-level('secondary', -7)};
          font-size: 18px;
        }

        .price {
          margin-top: 10px;
          color: #{theme-color-level('primary', -4)};
        }
      }

      .specs {
        margin-top: 25px;
        padding: 0 10px 17px 10px;

        .spec {
          margin-bottom: 13px;
          color: #{theme-color-level('light', 5)};
          font-size: 15px;

          .variable {
            color: #{theme-color('info')};
            font-weight: normal;
          }
        }
      }
    }
  }

  .signup {
    margin-top: 50px;
    text-align: center;

    .message {

      margin-top: 20px;
      color: #{theme-color-level('dark', -6)};
      text-align: center;

      font-size: 13px;
    }
  }

  .faq {
    margin-top: 90px;

    .header {
      h3 {
        color: #{theme-color-level('dark', -2)};
        text-align: center;
        font-size: 20px;
        font-weight: 600;
      }
    }

    .questions {
      margin-top: 50px;

      .question {
        margin-bottom: 40px;

        @media(min-width: 992px) {
          width: 90%;
        }

        strong {
          color: #{theme-color-level('dark', -2)};
          font-size: 16px;
          font-weight: 500;
        }

        p {

          margin-top: 10px;
          color: #{theme-color-level('dark', -3)};

          font-size: 13px;
          line-height: 22px;
        }
      }
    }
  }
}
