.theme-docs-header {
  background-image: linear-gradient(310deg,#{theme-color-level('primary', 8)} 0,#{gray('600')} 90%);

  section {
    padding-top: 120px;
    padding-bottom: 30px;

    @media(max-width: 991px) {
      padding-top: 100px;
    }

    @media(max-width: 767px) {
      padding-top: 90px;
      text-align: center;
    }

    h1 {
      color: #{color('white')};

      font-size: 33px;
      font-weight: normal;
      line-height: 44px;

      @media(max-width: 991px) {
        font-size: 30px;
      }

      @media(max-width: 767px) {
        font-size: 27px;
      }
    }

    p {

      margin-top: 20px;
      color: #{gray('400')};

      font-size: 18px;
      line-height: 24px;
    }
  }
}

.nav-sidebar {
  margin-top: 25px;
  padding-left: 10px;

  &.fixed {
    position: fixed;
    top: 0;
  }

  li {
    margin: 0 !important;
  }

  .nav {
    .nav-link {

      position: relative;
      padding: 0.35rem 1rem;
      color: #{theme-color-level('dark', -2)};

      &:hover,
      &:focus {
        background-color: transparent;
      }

      &.active {
        color: #{color('purple')};

        &:before {
          position: absolute;
          top: 6px;
          left: 0;
          width: 1px;
          height: 67%;
          background-color: #{color('purple')};
          content: '';
        }

        + .nav {
          display: block;
        }
      }

      + .nav {
        display: none;
        padding-left: 17px;
        list-style-type: none;

        .nav-link {
          padding: 5px 20px;
        }
      }
    }
  }
}

.theme-docs-wrapper {
  margin-top: 20px;
  margin-bottom: 100px;

  .h5 {
    line-height: 29px;
  }

  .btn-pill,
  .btn-shadow {
    outline: none;
  }

  pre {
    margin: 25px 0;
    padding: 20px;
    border: 1px solid #{theme-color-level('light', -8)};
    background-color: #{gray('100')};

    code {
      display: block;
      margin-top: -10px;

      &.html {
        > * {
          color: #{theme-color-level('info', 5)};
          line-height: 20px;
        }

        [class*=hljs-tag] {
          color: #{theme-color-level('info', 5)};
        }

        [class*=hljs-name] {
          color: #{theme-color-level('info', 5)};
        }

        [class*=hljs-attr] {
          color: #{theme-color-level('primary', -6)};
        }

        [class*=hljs-string] {
          color: #{theme-color('danger')};
        }
      }

      &.css {
        color: #{theme-color-level('info', 5)};

        > * {
          color: #{theme-color-level('info', 5)};
          line-height: 20px;
        }

        [class*=hljs-keyword] {
          color: #{theme-color-level('primary', 6)};
        }

        [class*=hljs-number] {
          color: #{color('orange')};
        }
      }
    }
  }

  .panel {
    margin: 25px 0;

    .panel-body {
      padding: 20px;
      border: 2px solid #{gray('100')};
      border-bottom: 0;
    }

    .panel-footer {
      background-color: #{gray('100')};

      pre {
        margin: 0;
        padding: 20px;
        border: none;
      }
    }
  }

  .transparent-navbar-wrapper {
    position: relative;

    .ion-chevron-down {
      font-size: 10px;
    }

    .transparent-navbar-header {
      height: 190px;
    }
  }

  .slider-component {
    height: 450px;

    li {
      margin: 0;
    }

    h3 {

      position: absolute;
      top: calc(50% - 60px);
      right: 0;
      left: 0;
      color: #{color('white')};
      text-align: center;

      font-size: 26px;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
    }
  }

  .slider-options {
    padding: 0;

    li {
      display: inline-block;
      margin: 3px 25px 3px 0;

      a {
        &.active {
          text-decoration: underline;
        }
      }
    }
  }

  .grid-example {
    .row {
      div[class^='col'] {

        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #{theme-color-level('light', -8)};
        background-color: #{gray('100')};
      }
    }
  }
}
