.timeline-wrapper {

  position: relative;
  margin-top: 60px;

  &:before {
    position: absolute;
    right: 0;
    left: 0;
    width: 5px;
    height: 100%;
    margin: 0 auto;
    background: #{gray('200')};
    content: '';
    z-index: -1;
  }

  .year {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 16px;

    &:nth-child(1) {
      margin-top: 0;
      margin-bottom: 60px;
    }

    &.last {
      margin-bottom: 0;
      font-size: 21px;
    }

    span {
      display: inline-block;
      padding: 6px 20px;
      border-radius: 3px;
      background: #{gray('200')};
      color: #{theme-color-level('dark', -1)};
      font-weight: 600;
    }
  }

  /* the first node that comes right next to a year */
  .year + .node {
    margin-top: -20px;
  }

  .node {
    position: relative;
    width: 44%;
    margin: 35px 0;
    border-radius: 5px;
    clear: right;
    float: right;

    @media(max-width: 767px) {
      width: 100%;
    }

    /*&:nth-child(2n) {*/
    &.left {
      clear: left;
      float: left;

      &:before {
        right: -51px;
        left: inherit;

        @media(max-width: 991px) {
          right: -42px;
          width: 43px;
        }
      }

      .marker {
        right: -71px;
        left: inherit;

        @media(max-width: 991px) {
          right: -52px;
        }
      }
    }

    &:before {
      position: absolute;
      top: 62px;
      left: -51px;
      width: 50px;
      height: 4px;
      background: #{gray('200')};
      content: '';

      @media(max-width: 991px) {
        left: -42px;
        width: 43px;
      }

      @media(max-width: 767px) {
        display: none;
      }
    }

    .marker {
      position: absolute;
      top: 55px;
      left: -70px;
      width: 17px;
      height: 17px;
      border: 3px solid #{gray('100')};
      border-radius: 25px;
      background: #{gray('200')};

      @media(max-width: 991px) {
        left: -51px;
      }

      @media(max-width: 767px) {
        display: none;
      }
    }

    .entry {
      position: relative;
      height: 400px;
      padding: 20px;
      border-radius: 5px;
      background-position: center center;
      background-size: cover;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);

      &:before {
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0 0 5px 5px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(15, 24, 49, 0.94) 100%);
        content: '';
      }

      &.smallish {
        height: 320px;

        .intro {
          top: 68%;
        }
      }

      &.short-entry {
        position: relative;
        top: 41px;
        left: -1px;
        height: inherit;
        margin-bottom: 20px;
        padding: 20px;
        background: #{gray('200')};
        color: #{theme-color-level('secondary', 1)};
        font-size: 16px;
        box-shadow: none;
        line-height: 25px;
        text-shadow: 1px 1px rgba(255, 255, 255, 0.4);

        &:before {
          background: none;
        }
      }

      .intro {
        position: relative;
        top: 75%;
        color: #{color('white')};
        letter-spacing: .3px;
        z-index: 9;

        h4 {
          font-size: 18px;
          font-weight: 600;
          letter-spacing: .5px;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
          text-transform: uppercase;

          @media(max-width: 767px) {
            font-size: 17px;
          }
        }

        p {
          @media(max-width: 767px) {
            font-size: 13px;
          }
        }
      }
    }

    .news {
      position: relative;
      border-radius: 5px;
      background-color: #{color('white')};
      background-position: center center;
      background-size: cover;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);

      section {
        padding: 30px 20px 60px 20px;

        h3 {
          margin-top: 0;
          font-size: 18px;
          line-height: 28px;
        }

        p {
          margin-top: 21px;
          color: #{theme-color-level('dark', -5)};
          line-height: 24px;
        }
      }

      footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 12px 20px;
        color: #{gray('500')};

        font-size: 12px;
        font-weight: 500;

        .tag {
          position: relative;
          padding-left: 27px;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: uppercase;

          span {
            position: absolute;
            top: -7px;
            left: 0;
            font-size: 24px;
          }
        }

        .date {
          font-size: 14px;
        }
      }
    }
  }
}
