/* Mail page styling */

body {
  width: 100% !important;
  height: 100%;
  margin: 0;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  line-height: 1.4;
}

p, ul, ol, blockquote {
  text-align: left;
  line-height: 1.4;
}

p {
  @apply text-gray-primary-3;
  margin-top: 0;
  line-height: 1.5em;
}

body, .mail, .mail__wrapper {
  @apply bg-gray-secondary-1;
  @apply text-gray-primary-3;
  @apply text-base;
}

.mail__wrapper, .mail__content {
  width: 100%;
  margin: 0;
  padding: 0;
}

table, tr, td, a, img, div, tbody, thead {
  @apply border-0 border-none;
}
