.mail-infobar {
  @apply p-0 m-0;
  @apply bg-brand-primary-2;
}

.mail-infobar__cell {
  @apply text-white text-sm py-2;
}

.mail-infobar__icon, .mail-infobar__link {
  @apply inline-block mr-2;
}

.mail-infobar__icon {
  @apply h-4;
}

.mail-infobar__link, .mail-infobar__link:link, .mail-infobar__link:visited {
  @apply inline-block text-white no-underline;
}

.mail-infobar__link:hover, .mail-infobar__link:focus {
  @apply no-underline text-gray-secondary-3;
}
