/*
  Make the background gray-ish
*/

.heading-1, .heading-2, .heading-3 {
  @apply font-bold;
  @apply text-dark;
}

.heading-1 {
  @apply text-3xl mt-8 mb-4;
}

.heading-2 {
  @apply text-2xl mt-6 mb-4;
}

.heading-3 {
  @apply text-xl mt-4 mb-2;
}

.heading-4 {
  @apply my-2;
  @apply text-brand-primary-2;
  @apply font-bold uppercase;
}
