/*
Color definitions
*/

/* Edge cases: base/input.css */

:root {
  --color-light: theme('colors.white');
  --color-dark: theme('colors.source.gray.900');
  /* gray */
  --color-gray-primary-1: theme('colors.source.gray.500');
  --color-gray-primary-2: theme('colors.source.gray.600');
  --color-gray-primary-3: theme('colors.source.gray.700');
  --color-gray-secondary-1: theme('colors.source.gray.200');
  --color-gray-secondary-2: theme('colors.source.gray.300');
  --color-gray-secondary-3: theme('colors.source.gray.400');
  /* red */
  --color-red-primary-1: theme('colors.source.red.500');
  --color-red-primary-2: theme('colors.source.red.600');
  --color-red-primary-3: theme('colors.source.red.700');
  --color-red-secondary-1: theme('colors.source.red.100');
  --color-red-secondary-2: theme('colors.source.red.200');
  --color-red-secondary-3: theme('colors.source.red.300');
  /* orange */
  --color-orange-primary-1: theme('colors.source.orange.500');
  --color-orange-primary-2: theme('colors.source.orange.600');
  --color-orange-primary-3: theme('colors.source.orange.700');
  --color-orange-secondary-1: theme('colors.source.orange.100');
  --color-orange-secondary-2: theme('colors.source.orange.200');
  --color-orange-secondary-3: theme('colors.source.orange.300');
  /* green */
  --color-green-primary-1: theme('colors.source.green.500');
  --color-green-primary-2: theme('colors.source.green.600');
  --color-green-primary-3: theme('colors.source.green.700');
  --color-green-secondary-1: theme('colors.source.green.100');
  --color-green-secondary-2: theme('colors.source.green.200');
  --color-green-secondary-3: theme('colors.source.green.300');
  /* blue */
  --color-blue-primary-1: theme('colors.source.blue.500');
  --color-blue-primary-2: theme('colors.source.blue.600');
  --color-blue-primary-3: theme('colors.source.blue.700');
  --color-blue-secondary-1: theme('colors.source.blue.100');
  --color-blue-secondary-2: theme('colors.source.blue.200');
  --color-blue-secondary-3: theme('colors.source.blue.300');
  /* brand */
  --color-brand-primary-1: theme('colors.source.brand.500');
  --color-brand-primary-2: theme('colors.source.brand.600');
  --color-brand-primary-3: theme('colors.source.brand.700');
  --color-brand-secondary-1: theme('colors.source.brand.100');
  --color-brand-secondary-2: theme('colors.source.brand.200');
  --color-brand-secondary-3: theme('colors.source.brand.300');
}

/* purgecss ignore */
@screen dark {
  /* purgecss ignore */
  :root {
    --color-light: theme('colors.source.gray.900');
    --color-dark: theme('colors.source.gray.100');
    /* gray */
    --color-gray-primary-1: theme('colors.source.gray.500');
    --color-gray-primary-2: theme('colors.source.gray.400');
    --color-gray-primary-3: theme('colors.source.gray.300');
    --color-gray-secondary-1: theme('colors.source.gray.900');
    --color-gray-secondary-2: theme('colors.source.gray.800');
    --color-gray-secondary-3: theme('colors.source.gray.700');
    /* red */
    --color-red-primary-1: theme('colors.source.red.500');
    --color-red-primary-2: theme('colors.source.red.400');
    --color-red-primary-3: theme('colors.source.red.300');
    --color-red-secondary-1: theme('colors.source.red.900');
    --color-red-secondary-2: theme('colors.source.red.800');
    --color-red-secondary-3: theme('colors.source.red.700');
    /* orange */
    --color-orange-primary-1: theme('colors.source.orange.500');
    --color-orange-primary-2: theme('colors.source.orange.400');
    --color-orange-primary-3: theme('colors.source.orange.300');
    --color-orange-secondary-1: theme('colors.source.orange.900');
    --color-orange-secondary-2: theme('colors.source.orange.800');
    --color-orange-secondary-3: theme('colors.source.orange.700');
    /* green */
    --color-green-primary-1: theme('colors.source.green.500');
    --color-green-primary-2: theme('colors.source.green.400');
    --color-green-primary-3: theme('colors.source.green.300');
    --color-green-secondary-1: theme('colors.source.green.900');
    --color-green-secondary-2: theme('colors.source.green.800');
    --color-green-secondary-3: theme('colors.source.green.700');
    /* blue */
    --color-blue-primary-1: theme('colors.source.blue.500');
    --color-blue-primary-2: theme('colors.source.blue.400');
    --color-blue-primary-3: theme('colors.source.blue.300');
    --color-blue-secondary-1: theme('colors.source.blue.900');
    --color-blue-secondary-2: theme('colors.source.blue.800');
    --color-blue-secondary-3: theme('colors.source.blue.700');
    /* brand */
    --color-brand-primary-1: theme('colors.source.brand.500');
    --color-brand-primary-2: theme('colors.source.brand.400');
    --color-brand-primary-3: theme('colors.source.brand.300');
    --color-brand-secondary-1: theme('colors.source.brand.900');
    --color-brand-secondary-2: theme('colors.source.brand.800');
    --color-brand-secondary-3: theme('colors.source.brand.700');
  }
}
